.activityConductBody .pageHr {
  width: 5px;
  height: 1844px;
  left: 305.5px;
  bottom: 0;
  position: absolute;
  border: 1px #264148 solid;
  border-radius: 2px;
  color: #000;
  background-color: #264148;
  top: 170px;
  z-index: 5;
}

.activityConductBody .newPageTitlePoint {
  font-size: 40px;
  display: inline;
  color: #264148;
}

.activityConductBody p {
  font-weight: bold;
  font-size: 24px;
}

.activityConductBody {
  height: 100vh;
}

.activityConductBody section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.activityConductBody {
  background-image: url("../../../../images/main/background.png");
  background-attachment: fixed;
}

.activityConductBody .nextPage {
  position: absolute;
  bottom: -20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: black;
  font: normal 600 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding-top: 70px;
  font-size: 15px;
}

.activityConductBody .nextPage:hover {
  opacity: 0.5;
}

.activityConductBody .nextPage span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-left: -8px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
          animation: sdb 1.5s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-30px, 30px);
            transform: rotate(-45deg) translate(-30px, 30px);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-30px, 30px);
            transform: rotate(-45deg) translate(-30px, 30px);
    opacity: 0;
  }
}

.activityConductBody #section0 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.activityConductBody #section0 .section0Area .leftTitle .joinUs {
  position: absolute;
  font-size: 30px;
  left: 240px;
  top: 140px;
  color: #264148;
  font-weight: 600;
}

.activityConductBody #section0 .section0Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 25px;
  left: 289px;
  top: 200px;
  color: #264148;
}

.activityConductBody #section0 .section0Area .section0Content {
  width: 650px;
  height: 450px;
  position: absolute;
  top: 200px;
  left: 450px;
}

.activityConductBody #section0 .section0Area .section0Content .guideNarrative {
  position: absolute;
  font-size: 22px;
  color: #264148;
  top: 5px;
  left: 25px;
}

.activityConductBody #section0 .section0Area .section0Content .guideNarrative p {
  margin-bottom: 5px;
}

.activityConductBody #section0 .section0Area .section0Content .guideLvChartArea {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.activityConductBody #section01 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.activityConductBody #section01 .section01Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 25px;
  left: 289px;
  top: 140px;
  color: #264148;
}

.activityConductBody #section01 .section01Area .section01Content {
  width: 650px;
  position: absolute;
  top: 200px;
  left: 445px;
}

.activityConductBody #section01 .section01Area .section01Content .setName {
  position: relative;
  height: 65px;
}

.activityConductBody #section01 .section01Area .section01Content .setName p {
  font-size: 20px;
  display: inline;
  position: absolute;
}

.activityConductBody #section01 .section01Area .section01Content .setName input {
  font-size: 16px;
  width: 500px;
  resize: none;
  border-radius: 10px;
  border: 1px #f8f8f8 solid;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
  position: absolute;
  left: 80px;
}

.activityConductBody #section01 .section01Area .section01Content .setIntroduction {
  position: relative;
  height: 65px;
}

.activityConductBody #section01 .section01Area .section01Content .setIntroduction p {
  font-size: 20px;
  display: inline;
  position: absolute;
}

.activityConductBody #section01 .section01Area .section01Content .setIntroduction input {
  font-size: 16px;
  width: 500px;
  resize: none;
  border-radius: 10px;
  border: 1px #f8f8f8 solid;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
  position: absolute;
  left: 80px;
}

.activityConductBody #section01 .section01Area .section01Content .date {
  position: relative;
  margin: 0px 0px 30px 0px;
}

.activityConductBody #section01 .section01Area .section01Content .date p {
  font-size: 20px;
  display: inline;
  position: absolute;
}

.activityConductBody #section01 .section01Area .section01Content .date .dateInput {
  margin-left: 80px;
}

.activityConductBody #section01 .section01Area .section01Content .date .dateInput .ant-input-group {
  width: 50%;
}

.activityConductBody #section01 .section01Area .section01Content .date .dateInput .ant-input-group .ant-picker {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
}

.activityConductBody #section01 .section01Area .section01Content .timeText {
  left: 300px;
  position: absolute;
  top: 0;
}

.activityConductBody #section01 .section01Area .section01Content .timeInput {
  display: inline;
  margin-left: 90px;
  position: absolute;
  left: 290px;
  top: 0px;
}

.activityConductBody #section01 .section01Area .section01Content .timeInput input {
  width: 192px;
}

.activityConductBody #section01 .section01Area .section01Content .timeInput .ant-input {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
  width: 200px;
}

.activityConductBody #section01 .section01Area .section01Content .location {
  position: relative;
  margin: 30px 0px;
}

.activityConductBody #section01 .section01Area .section01Content .location p {
  font-size: 20px;
  display: inline;
  position: absolute;
}

.activityConductBody #section01 .section01Area .section01Content .location .locationInput {
  margin-left: 80px;
}

.activityConductBody #section01 .section01Area .section01Content .location .locationInput input {
  font-size: 16px;
  width: 500px;
  resize: none;
  border-radius: 10px;
  border: 1px #f8f8f8 solid;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
}

.activityConductBody #section01 .section01Area .section01Content .acceptNum {
  margin: 30px 0px;
  position: relative;
}

.activityConductBody #section01 .section01Area .section01Content .acceptNum p {
  font-size: 20px;
  display: inline;
}

.activityConductBody #section01 .section01Area .section01Content .acceptNum span {
  position: absolute;
  left: 80px;
}

.activityConductBody #section01 .section01Area .section01Content .acceptNum span #people {
  width: 50px;
  border: none;
  text-align: center;
  height: 30px;
  font-size: 18px;
  margin-right: 20px;
  background: none;
  border-bottom: 1px #264148 solid;
}

.activityConductBody #section01 .section01Area .section01Content .acceptNum span .numBtn {
  background-color: #fff;
  font-size: 17px;
  border-radius: 10px;
  padding: 2px 5px;
  width: 25px;
  text-align: center;
  border: 1px #f8f8f8 solid;
  -webkit-box-shadow: 1px 1px 3px #c7c7c7;
          box-shadow: 1px 1px 3px #c7c7c7;
  margin-right: 20px;
  cursor: pointer;
}

.activityConductBody #section01 .section01Area .section01Content .acceptNum span .numBtn:hover {
  -webkit-box-shadow: 3px 3px 5px #c7c7c7;
          box-shadow: 3px 3px 5px #c7c7c7;
}

.activityConductBody #section01 .section01Area .section01Content .place {
  margin-top: 100px;
  position: relative;
}

.activityConductBody #section01 .section01Area .section01Content .place p {
  position: absolute;
  font-size: 20px;
  display: inline;
}

.activityConductBody #section01 .section01Area .section01Content .place span {
  position: absolute;
  left: 80px;
  font-size: 20px;
}

.activityConductBody #section01 .section01Area .section01Content .place span label {
  margin-right: 40px;
}

.activityConductBody #section01 .section01Area .section01Content .transportation {
  margin-top: 30px;
  position: relative;
}

.activityConductBody #section01 .section01Area .section01Content .transportation p {
  font-size: 20px;
  display: inline;
}

.activityConductBody #section01 .section01Area .section01Content .transportation span {
  position: absolute;
  left: 80px;
  font-size: 20px;
}

.activityConductBody #section01 .section01Area .section01Content .transportation span label {
  margin-right: 20px;
}

.activityConductBody #section02 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../../../images/main/background.png");
  background-attachment: fixed;
}

.activityConductBody #section02 .section02Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 25px;
  left: 289px;
  top: 20px;
  color: #264148;
}

.activityConductBody #section02 .section02Area .section02Content {
  border-radius: 20px;
  width: 650px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 180px;
  left: 450px;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg {
  margin-top: 30px;
  position: relative;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg p {
  font-size: 24px;
  display: inline;
  font-weight: bold;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg .uploadImgButton {
  position: absolute;
  top: -90px;
  display: inline;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg .uploadImgButton #select {
  background-color: #1697d5;
  color: #fff;
  border: 1px solid #1697d5;
  border-radius: 5px;
  font-weight: 400;
  padding: 3px;
  cursor: pointer;
  margin-left: 40px;
  font-size: 16px;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg .uploadImgButton p {
  font-size: 20px;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg div #file_input {
  display: none;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg div #append {
  width: 533px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 37px;
  overflow: hidden;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg div #append .float {
  position: relative;
  width: 112px;
  height: 112px;
  overflow: hidden;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  padding: 5px;
  margin-right: 18px;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg div #append .float .delete {
  width: 100px;
  height: 112px;
  position: absolute;
  text-align: center;
  line-height: 100px;
  z-index: 10;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #575757;
  opacity: 0;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg div #append .float .delete:hover {
  cursor: pointer;
  opacity: 1;
}

.activityConductBody #section02 .section02Area .section02Content .uploadImg div #append .float .result {
  width: 100px;
  height: 100px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.activityConductBody #section03 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../../../images/main/background.png");
  background-attachment: fixed;
}

.activityConductBody #section03 .section03Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 25px;
  left: 289px;
  top: 20px;
  color: #264148;
}

.activityConductBody #section03 .section03Area .activitySetContent p {
  position: absolute;
  top: 80px;
  left: 450px;
  font-size: 20px;
}

.activityConductBody #section03 .section03Area .activitySetContent .activitySetContentTextarea {
  width: 650px;
  height: 200px;
  font-size: 18px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 125px;
  left: 450px;
  border: none;
}

.activityConductBody #section03 .section03Area .activitySetContent .activitySetContentTextarea textarea::-webkit-input-placeholder {
  font-size: 3em;
}

.activityConductBody #section03 .section03Area .activitySetContent .activitySetContentTextarea textarea:-ms-input-placeholder {
  font-size: 3em;
}

.activityConductBody #section03 .section03Area .activitySetContent .activitySetContentTextarea textarea::-ms-input-placeholder {
  font-size: 3em;
}

.activityConductBody #section03 .section03Area .activitySetContent .activitySetContentTextarea textarea::placeholder {
  font-size: 3em;
}

.activityConductBody #section03 .section03Area .activitySetNotice p {
  position: absolute;
  top: 340px;
  left: 450px;
  font-size: 20px;
}

.activityConductBody #section03 .section03Area .activitySetNotice .activitySetNoticeTextarea {
  width: 650px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  position: absolute;
  border-radius: 20px;
  font-size: 18px;
  top: 385px;
  left: 450px;
  border: none;
}

.activityConductBody #section03 .section03Area .activitySetNotice .activitySetNoticeTextarea textarea::-webkit-input-placeholder {
  font-size: 3em;
}

.activityConductBody #section03 .section03Area .activitySetNotice .activitySetNoticeTextarea textarea:-ms-input-placeholder {
  font-size: 3em;
}

.activityConductBody #section03 .section03Area .activitySetNotice .activitySetNoticeTextarea textarea::-ms-input-placeholder {
  font-size: 3em;
}

.activityConductBody #section03 .section03Area .activitySetNotice .activitySetNoticeTextarea textarea::placeholder {
  font-size: 3em;
}

.activityConductBody #section03 .submitBtn {
  font-size: 20px;
  background-color: #1697d5;
  padding: 8px 20px;
  border: 1px white solid;
  color: white;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 80%;
  bottom: 180px;
}

.activityConductBody #section04 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../../../images/main/background.png");
  background-attachment: fixed;
}

.activityConductBody #section04 .section04Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 24px;
  left: 289px;
  top: 80px;
  color: #264148;
}

.activityConductBody #section04 .section04Area .leftTitle .pageTitle .newPageTitlePoint {
  font-size: 40px;
}

.activityConductBody #section04 .section04Area .section04Content {
  width: 700px;
  height: 380px;
  background-color: blanchedalmond;
  position: absolute;
  top: 210px;
  left: 400px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px #85858593;
          box-shadow: 3px 3px 5px #85858593;
  padding: 20px;
}

.activityConductBody #section04 .submitBtn {
  font-size: 20px;
  background-color: #1697d5;
  padding: 8px 20px;
  border: 1px white solid;
  color: white;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-bottom: 50px;
  left: 75%;
}
/*# sourceMappingURL=activityConduct.css.map */