@import '../../../../styles/var';

// 預設值
$d6: #d6d6d6;

// ----- 這段可能會把別人的樣式蓋過去喔 -----
// * {
//   margin: 0;
//   padding: 0;
//   font-family: Microsoft JhengHei, sans-serif;
//   letter-spacing: 0.02em;
//   box-sizing: border-box;
// }

@mixin wrap {
  // background-color: #000;
  color: $fontcolor;
  .pageHr {
    width: 3px;
    height: 100px;
    left: 251px;
    bottom: 0;
    position: absolute;
    border: 1px $fontcolor solid;
    background-color: $fontcolor;
    border-radius: 2px;
    top: 175px;
  }
  .pageTitlePoint {
    font-size: 42px;
  }
  p {
    font-weight: bold;
    font-size: 20px;
    // color: red;
  }
}
body {
  // max-width: 1200px;
  // background-color: #000;
  // color: $fontcolor;
  .pageHr {
    width: 3px;
    height: 2600px;
    left: 251px;
    bottom: 0;
    position: absolute;
    border: 1px $fontcolor solid;
    background-color: $fontcolor;
    border-radius: 2px;
    top: 175px;
  }
  .pageTitlePoint {
    font-size: 23px;
  }
  p {
    font-weight: bold;
    font-size: 20px;
  }
}

html,
body,
form {
  height: 100%;
  section {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
@mixin activityConductRwd {
  // background-color: #000;
  // color: $fontcolor;
  .activityConductBody {
    .pageHr {
      width: 3px;
      height: 100px;
      left: 251px;
      bottom: 0;
      position: absolute;
      border: 1px $fontcolor solid;
      background-color: $fontcolor;
      border-radius: 2px;
      top: 205px;
    }
    .pageTitlePoint {
      font-size: 40px;
    }
    p {
      font-weight: bold;
      font-size: 20px;
      // color: red;
    }

    .nextPage {
      position: absolute;
      bottom: -20px;
      left: 50%;
      z-index: 2;
      display: inline-block;
      transform: translate(0, -50%);
      color: rgb(0, 0, 0);
      font: normal 600 20px/1 "Josefin Sans", sans-serif;
      letter-spacing: 0.1em;
      text-decoration: none;
      transition: opacity 0.3s;
      padding-top: 70px;
      font-size: 13px;
      &:hover {
        opacity: 0.5;
      }
      span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        margin-left: -8px;
        border-left: 2px solid rgb(0, 0, 0);
        border-bottom: 2px solid rgb(0, 0, 0);
        transform: rotate(-45deg);
        animation: sdb 1.5s infinite;
        box-sizing: border-box;
        @keyframes sdb {
          0% {
            transform: rotate(-45deg) translate(-10px, 10px);
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            transform: rotate(-45deg) translate(-30px, 30px);
            opacity: 0;
          }
        }
      }
    }

    #section0 {
      position: relative;
      width: 100%;
      height: 100%;
      // background-color: #fff;
      .section0Area {
        .leftTitle {
          .joinUs {
            position: absolute;
            font-size: 27px;
            left: 200px;
            top: 120px;
            color: $fontcolor;
            font-weight: bold;
          }
          .pageTitle {
            position: absolute;
            font-size: 22px;
            left: 242px;
            top: 170px;
            color: $fontcolor;
          }
        }
        .section0Content {
          width: 500px;
          height: 375px;
          position: absolute;
          top: 160px;
          left: 370px;
          .guideNarrative {
            position: absolute;
            font-size: 18px;
            color: $fontcolor;
            top: 5px;
            left: 25px;
            p {
              margin-bottom: 5px;
            }
          }
          .guideLvChartArea {
            width: 80px;
            height: 80px;
            background-color: $d6;
          }
        }
      }
    }

    #section01 {
      position: relative;
      width: 100%;
      height: 100%;
      .section01Area {
        .leftTitle {
          .pageTitle {
            position: absolute;
            font-size: 22px;
            left: 242px;
            top: 105px;
            color: $fontcolor;
          }
        }
        .section01Content {
          width: 700px;
          height: 375px;
          // background-color: blanchedalmond;
          position: absolute;
          top: 130px;
          left: 370px;
          //名稱
          .setName {
            position: relative;
            height: 72px;
            p {
              font-size: 18px;
              display: inline;
              position: absolute;
              top: 24px;
            }
            input {
              font-size: 14px;
              width: 500px;
              padding: 6px;
              height: 35x;
              resize: none;
              border-radius: 20px;
              border: 1px $bgcolor solid;
              box-shadow: 3px 3px 5px #858585;
              position: absolute;
              left: 120px;
              top: 18px;
            }
          }
          // 簡介
          .setIntroduction {
            position: relative;
            height: 85px;
            // border: $border;
            p {
              font-size: 18px;
              display: inline;
              position: absolute;
              top: 24px;
              // border: $border;
            }
            textarea {
              font-size: 16px;
              width: 500px;
              padding: 8px;
              height: 72px;
              resize: none;
              border-radius: 20px;
              border: 1px $bgcolor solid;
              box-shadow: 3px 3px 5px #858585;
              position: absolute;
              left: 120px;
            }
          }
          //日期

          .date {
            position: relative;
            margin: 5px 0px;
            // border: $border;
            p {
              font-size: 18px;
              display: inline;
              position: absolute;
              top: 1px;
              // border: $border;
            }
            .timeText {
              // border: $border;
              margin-left: 80px;
            }
            .timeInput {
              display: inline;
              // border: $border;
              margin-left: 150px;
              input {
                width: 150px;
              }
            }
            .dateInput {
              // margin-top: 10px;
              margin-left: 115px;
              input {
                font-size: 16px;
                width: 165px;
                padding: 8px;
                height: 25px;
                resize: none;
                border-radius: 20px;
                border: 1px $bgcolor solid;
                box-shadow: 3px 3px 5px #858585;
                // position: absolute;
                // left: 120px;
                // top: 18px;
                // margin: 18px 0px 0px 5px;
                margin-left: 5px;
              }
            }
          }
          //時間
          .time {
            position: relative;
            margin: 30px 0px;
            // border: $border;
            p {
              font-size: 18px;
              display: inline;
              position: absolute;
              top: 10px;
            }
            .timeInput {
              margin-left: 115px;
              input {
                font-size: 16px;
                width: 120px;
                padding: 8px;
                height: 40px;
                resize: none;
                border-radius: 20px;
                border: 1px $bgcolor solid;
                box-shadow: 3px 3px 5px #858585;
                // position: absolute;
                // left: 120px;
                // top: 18px;
                margin-left: 5px;
              }
            }
          }
          //地點
          .location {
            position: relative;
            margin: 20px 0px;
            // border: $border;
            p {
              font-size: 18px;
              display: inline;
              position: absolute;
              top: 10px;
            }
            .locationInput {
              margin-left: 115px;
              input {
                font-size: 16px;
                width: 500px;
                padding: 8px;
                height: 40px;
                resize: none;
                border-radius: 20px;
                border: 1px $bgcolor solid;
                box-shadow: 3px 3px 5px #858585;
                // position: absolute;
                // left: 120px;
                // top: 18px;
                margin-left: 5px;
              }
            }
          }
          // 人數
          .acceptNum {
            margin: 20px 0px;
            position: relative;
            // border: $border;
            p {
              font-size: 18px;
              display: inline;
              // position: absolute;
              top: 3px;
              // border: $border;
            }
            span {
              position: absolute;
              left: 120px;
              #quantity {
                width: 50px;
                border: none;
                text-align: center;
                height: 30px;
                font-size: 16px;
                box-shadow: 3px 3px 5px #858585;
                border-radius: 20px;
                margin-right: 25px;
              }
              .numBtn {
                font-size: 16px;
                border-radius: 10px;
                padding: 2px 5px;
                width: 25px;
                text-align: center;
                border: 1px $bgcolor solid;
                box-shadow: 1px 1px 3px #858585;
                margin-right: 20px;
                cursor: pointer;
                &:hover {
                  box-shadow: 3px 3px 5px #858585;
                }
              }
            }
          }
          .place {
            // margin: 30px 0px;
            margin-top: 70px;
            // margin: 40px 0px 0px 0px;
            position: relative;
            // border: $border;
            p {
              position: absolute;

              font-size: 18px;
              display: inline;
            }
            span {
              position: absolute;
              left: 120px;
              font-size: 18px;
              label {
                margin-right: 40px;
              }
            }
          }
          .transportation {
            margin-top: 30px;
            position: relative;
            p {
              font-size: 18px;
              display: inline;
            }
            span {
              position: absolute;
              left: 120px;
              font-size: 20px;
              label {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
    #section02 {
      position: relative;
      width: 100%;
      height: 100%;
      .section02Area {
        .leftTitle {
          .pageTitle {
            position: absolute;
            font-size: 22px;
            left: 242px;
            top: 120px;
            color: $fontcolor;
          }
        }
        .section02Content {
          width: 650px;
          height: 400px;
          background-color: #fff;
          position: absolute;
          top: 130px;
          left: 370px;
          .uploadImg {
            margin-top: 70px;
            position: relative;
            p {
              font-size: 18px;
              display: inline;
            }
            div {
              position: absolute;
              display: inline;
              #select {
                background-color: $primarycolor;
                color: #fff;
                border: 1px solid $primarycolor;
                border-radius: 5px;
                font-weight: 400;
                padding: 3px;
                cursor: pointer;
                margin-left: 40px;
                font-size: 16px;
              }
              p {
                font-size: 16px;
                margin-left: 20px;
                line-height: 20px;
              }
              #file_input {
                display: none;
              }
              #append {
                width: 533px;
                height: 150px;
                display: flex;
                margin: 20px 0 0 37px;
                overflow: hidden;
                .float {
                  position: relative;
                  width: 112px;
                  height: 112px;
                  overflow: hidden;
                  border: 1px solid #a7a7a7;
                  border-radius: 10px;
                  padding: 5px;
                  margin-right: 18px;
                  .delete {
                    width: 100px;
                    height: 112px;
                    position: absolute;
                    text-align: center;
                    line-height: 100px;
                    z-index: 10;
                    font-size: 16px;
                    background-color: rgba(255, 255, 255, 0.8);
                    color: rgb(87, 87, 87);
                    opacity: 0;
                    transition-duration: 0.7s;
                    &:hover {
                      cursor: pointer;
                      opacity: 1;
                    }
                  }

                  .result {
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    box-sizing: border-box;
                  }
                }
              }
            }
          }
        }
      }
    }

    #section03 {
      position: relative;
      width: 100%;
      height: 100%;
      .section03Area {
        .leftTitle {
          .pageTitle {
            position: absolute;
            font-size: 22px;
            left: 242px;
            top: 80px;
            color: $fontcolor;
          }
        }
        .section03Content {
          width: 570px;
          height: 330px;
          background-color: blanchedalmond;
          position: absolute;
          top: 140px;
          left: 340px;
          border: none;
          textarea {
            &::placeholder {
              font-size: 3em;
            }
          }
        }
      }
    }
    #section04 {
      position: relative;
      width: 100%;
      height: 100%;
      .section04Area {
        .leftTitle {
          .pageTitle {
            position: absolute;
            font-size: 24px;
            left: 242px;
            top: 70px;
            color: $fontcolor;
            .pageTitlePoint {
              font-size: 42px;
            }
          }
        }
        .section04Content {
          width: 570px;
          height: 330px;
          background-color: blanchedalmond;
          position: absolute;
          top: 135px;
          left: 350px;
        }
      }
      .submitBtn {
        font-size: 20px;
        border-radius: 10px;
        background-color: $primarycolor;
        padding: 8px 20px;
        border: 2px white solid;
        color: white;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
        position: absolute;
        bottom: 40px;
        left: 75%;
      }
    }
  }
}
