.oo {
  outline: 1px black solid;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.selfie {
  width: 60px;
  height: 60px;
}

.a-black {
  color: black;
}

.a-black:hover {
  color: gray;
  text-decoration: none;
}

textarea {
  resize: none;
}

.society-section {
  margin-top: 120px;
  width: 100%;
  position: relative;
}

.society-section .society-container {
  width: 1075px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-bottom: none;
  padding-top: 20px;
  border-radius: 10px;
  background-color: #eeeeee;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.society-section .society-container .col-left {
  width: 30%;
  height: 100%;
}

.society-section .society-container .col-left .society-toggle {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 15px;
  height: 60px;
}

.society-section .society-container .col-left .society-toggle .yesno {
  font-size: 20px;
}

.society-section .society-container .col-left .society-toggle .society-toggle-btn {
  letter-spacing: 1px;
  text-align: center;
  color: #1697d5;
  background-color: #fff;
  color: #1697d5;
  font-weight: 400;
  font-size: 18px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-color: #1697d5;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 18px 10px 18px 10px;
}

.society-section .society-container .col-left .society-toggle .society-toggle-btn:hover {
  background-color: #738bdc;
  background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
  color: #fff;
  cursor: pointer;
}

.society-section .society-container .col-left .searching-area {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 12px 12px 0 12px;
  background-color: #fff;
  overflow: hidden;
}

.society-section .society-container .col-left .searching-area .searching {
  overflow: hidden;
  border: 2px solid #f08a12;
  width: 80%;
  border-radius: 27.5px;
  height: 35px;
  color: rgba(0, 0, 0, 0.3);
}

.society-section .society-container .col-left .searching-area .searching .search-icon {
  background: white;
  border-radius: 10px 0 0 10px;
}

.society-section .society-container .col-left .searching-area .searching .search-input {
  width: 300px;
  border-radius: 0 10px 10px 0;
  border: none;
  color: black;
  font-size: 16px;
}

.society-section .society-container .col-left .searching-area .searching-list {
  height: 300px;
  width: 100%;
  overflow: scroll;
  font-size: 18px;
}

.society-section .society-container .col-left .searching-area .searching-list .search-inside {
  margin: 15px 0 0 15px;
}

.society-section .society-container .col-left .searching-area .searching-list .group-name-size {
  font-size: 15px;
}

.society-section .society-container .col-left .searching-area .searching-list .search-result {
  margin-top: -15px;
  height: 30px;
}

.society-section .society-container .col-left .searching-area .searching-list::-webkit-scrollbar {
  display: none;
}

.society-section .society-container .col-left .searching-area .demo {
  background-color: #738bdc;
  background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
}

.society-section .society-container .col-left .searching-area .demo a {
  font-size: 18px;
  display: block;
  width: 302.5px;
  height: 50px;
  padding-top: 10px;
  display: block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.society-section .society-container .col-left .searching-area .demo a:hover {
  opacity: 0.5;
}

.society-section .society-container .col-left .searching-area .demo a span {
  position: absolute;
  margin-top: 8px;
  width: 12px;
  height: 12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-animation: sdb05 1.5s infinite;
          animation: sdb05 1.5s infinite;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-135deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-135deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-135deg) translate(0, 0);
            transform: rotate(-135deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-135deg) translate(-20px, 20px);
            transform: rotate(-135deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.society-section .society-container .col-left .create-group-area {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 20px;
  padding: 12px;
  text-align: center;
  margin-bottom: 15px;
  background-color: #fff;
  height: 460px;
}

.society-section .society-container .col-left .create-group-area .create-group-member .create-group-name {
  font-size: 18px;
}

.society-section .society-container .col-left .create-group-area .create-group-member .create-group-righter {
  font-size: 15px;
  text-align: left;
}

.society-section .society-container .col-left .create-group-area .inputer {
  text-align: left;
}

.society-section .society-container .col-left .create-group-area .inputer .inputer-input {
  width: 200px;
  border-radius: 5px;
  border: solid 1px #bfbfbf;
  background: #bfbfbf;
  color: black;
  font-size: 18px;
  height: 40px;
}

.society-section .society-container .col-left .create-group-area .create-group-btn {
  border: 1px solid #264148;
  background: white;
  width: 70px;
  height: 50px;
  border-radius: 5px;
}

.society-section .society-container .col-left .create-group-area .create-group-btn:hover {
  background: #264148;
  color: white;
}

.society-section .society-container .col-left .create-group {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 20px;
  padding: 12px;
  text-align: center;
  margin-bottom: 15px;
  background-color: #fff;
  width: 302.5px;
  color: #1697d5;
  outline: 2px #1697d5 solid;
}

.society-section .society-container .col-left .create-group:hover {
  color: #f08a12;
  outline: 2px #f08a12 solid;
}

.society-section .society-container .col-left .society-club {
  margin-top: 15px;
  margin-left: 20px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.society-section .society-container .col-left .society-club .society-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-color: #fff;
}

.society-section .society-container .col-left .society-club .society-container h3 {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 12px 0;
  margin: 0;
  border-bottom: 2px solid #1697d5;
  font-weight: 400;
  background-color: #1697d5;
}

.society-section .society-container .col-right {
  height: 100%;
  width: 70%;
}

.society-section .society-container .col-right .post-area {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 15px;
  padding: 15px 0px;
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.society-section .society-container .col-right .post-area img {
  overflow: hidden;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #f08a12;
  position: relative;
  left: 5%;
}

.society-section .society-container .col-right .post-area .post-btn {
  border: 2px solid #f08a12;
  width: 80%;
  border-radius: 27.5px;
  height: 35px;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  left: 7%;
}

.society-section .society-container .col-right .post-area .post-btn h4 {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2%;
  letter-spacing: 1px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.society-section .society-container .col-right .post-area .post-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.society-section .society-container .col-right .article-container {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 17px 20px;
}

.society-section .society-container .col-right .article-container .article-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.society-section .society-container .col-right .article-container .article-title img {
  border: 2px solid #f08a12;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  left: 1%;
}

.society-section .society-container .col-right .article-container .article-title .group-article-name {
  background: #1697d5;
  font-size: 14px;
  border-radius: 10px;
  padding: 3px;
  color: white !important;
}

.society-section .society-container .col-right .article-container .article-title .title-content {
  position: relative;
  left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.society-section .society-container .col-right .article-container .article-title .title-content * {
  margin: 0;
  color: #264148;
  letter-spacing: 1px;
}

.society-section .society-container .col-right .article-container .article-title .title-content h1 {
  font-weight: 500;
  font-size: 18px;
}

.society-section .society-container .col-right .article-container .article-title .title-content h6 {
  font-size: 12px;
  margin-top: 4px;
}

.society-section .society-container .col-right .article-container .article-title .title-edit {
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 3%;
}

.society-section .society-container .col-right .article-container .article-body {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 30px;
}

.society-section .society-container .col-right .article-container .article-body > div .mt-3 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 8px;
  font-size: 18px;
}

.society-section .society-container .col-right .article-container .article-body h5 {
  font-size: 20px;
}

.society-section .society-container .col-right .article-container .article-body .article-see-more {
  text-align: center;
  cursor: pointer;
  position: relative;
}

.society-section .society-container .col-right .article-container .article-body .article-see-more span {
  color: #1697d5;
  letter-spacing: 1px;
}

.society-section .society-container .col-right .article-container .article-body .article-see-more svg {
  position: absolute;
  font-size: 18px;
  top: 2px;
  margin-left: 3px;
}

.society-section .society-container .col-right .article-container .article-body .article-see-more:hover svg {
  -webkit-animation: pointer 0.7s alternate infinite linear;
          animation: pointer 0.7s alternate infinite linear;
}

@-webkit-keyframes pointer {
  0% {
    top: 2px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 2px;
  }
}

@keyframes pointer {
  0% {
    top: 2px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 2px;
  }
}

.society-section .society-container .col-right .article-container .article-message {
  position: relative;
  width: 100%;
  padding-right: 5%;
  padding-left: 30px;
}

.society-section .society-container .col-right .article-container .article-message .message-icon {
  margin-left: -5px;
  border-top: 1px solid #1697d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.society-section .society-container .col-right .article-container .article-message .message-icon .like-nums {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
  margin-top: 5px;
  color: #f08a12;
}

.society-section .society-container .col-right .article-container .article-message .message-icon .like-nums > span {
  color: #264148;
  margin-left: 5px;
}

.society-section .society-container .col-right .article-container .article-message .message-icon > div {
  position: absolute;
  left: 17%;
}

.society-section .society-container .col-right .article-container .article-message .message-icon button {
  font-size: 23px;
  border: none;
  margin-right: 30px;
  background-color: #fff;
  color: #1697d5;
}

.society-section .society-container .col-right .article-container .article-message form {
  margin-top: 8px;
  position: relative;
  left: 5%;
}

.society-section .society-container .col-right .article-container .article-message form .message-send {
  height: 28px;
  width: 76%;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid #f08a12;
}

.society-section .society-container .col-right .article-container .article-message form .submit-btn {
  border-radius: 10px;
  padding: 3px 17px;
  margin-left: 10px;
  border: none;
  background-color: #1697d5;
  letter-spacing: 2px;
  color: #fff;
  border: 2px solid #1697d5;
}

.society-section .society-container .col-right .personal-article-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.society-section .society-container .col-right .personal-article-show .show-main-container {
  width: 800px;
  height: 575px;
  background-color: #fff;
  border-radius: 10px;
  overflow: scroll;
}

.society-section .society-container .col-right .personal-article-show .show-main-container > h1 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 10px 0px;
  letter-spacing: 1px;
  background-color: #1697d5;
  color: #fff;
}

.society-section .society-container .col-right .personal-article-show .show-main-container > h1 span {
  padding: 0;
  height: 25px;
  display: block;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 25px;
  cursor: pointer;
}

.society-section .society-container .col-right .personal-article-show .show-main-container .show-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #1697d5;
  padding-bottom: 12px;
}

.society-section .society-container .col-right .personal-article-show .show-main-container .show-title-container > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f08a12;
}

.society-section .society-container .col-right .personal-article-show .show-main-container .show-title-container .show-title-name {
  margin-left: 10px;
}

.society-section .society-container .col-right .personal-article-show .show-main-container .show-title-container .show-title-name h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 1px;
}

.society-section .society-container .col-right .personal-article-show .show-main-container .show-title-container .show-title-name h6 {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.society-section .society-container .col-right .personal-article-show .show-main-container .show-article-content {
  padding: 0px 40px;
}

.society-section .society-container .col-right .personal-article-show .show-main-container .show-article-content > p {
  font-size: 18px;
  font-weight: normal;
}

.society-section .society-container .col-right .personal-article-show .show-article-message {
  height: 575px;
  width: 330px;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 10px;
  overflow: scroll;
}

.society-section .society-container .col-right .personal-article-show .show-article-message > h1 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 10px 0px;
  letter-spacing: 1px;
  background-color: #1697d5;
  color: #fff;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  border-bottom: 1px solid #1697d5;
  margin: 0px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-post textarea {
  height: 24px;
  border-radius: 5px;
  width: 100%;
  border: none;
  -webkit-column-count: auto;
          column-count: auto;
  white-space: pre-wrap;
  text-rendering: auto;
  overflow-wrap: break-word;
  resize: none;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-post button {
  width: 65px;
  margin-left: 5px;
  border: 1px solid #1697d5;
  border-radius: 5px;
  background-color: #fff;
  color: #1697d5;
  letter-spacing: 1px;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container {
  margin-top: 15px;
  padding: 0px 20px;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container .article-comment-content {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container .article-comment-content .comment-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container .article-comment-content .comment-detail > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #1697d5;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container .article-comment-content .comment-detail .detail-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container .article-comment-content .comment-detail .detail-text * {
  margin: 0;
  margin-left: 10px;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container .article-comment-content .comment-detail .detail-text h1 {
  font-size: 18px;
  font-weight: normal;
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container .article-comment-content .comment-detail .detail-text h6 {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}

.society-section .society-container .col-right .personal-article-show .show-article-message .comment-container .article-comment-content .comment-main-text > p {
  font-size: 14px;
  font-weight: normal;
  padding: 7px 17px;
  margin-bottom: 0;
}

.society-section .society-container .col-right .personal-article-show .box {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.society-section .society-container .col-right .personal-article-show .box .articlePop {
  width: 70%;
  height: 480px;
  top: 100px;
  background: white;
  border: 1px white solid;
  border-radius: 20px;
  -webkit-box-shadow: 0.5px 2px 4px 2px lightgray;
          box-shadow: 0.5px 2px 4px 2px lightgray;
}

.society-section .society-container .col-right .personal-article-show .box .articlePop .articlePopLeft {
  height: 400px;
  border-right: black 1px solid;
}

.society-section .society-container .col-right .personal-article-show .box .articlePop .articlePopLeft .ArticleContent {
  height: 300px;
  font-size: 20px;
}

.society-section .society-container .col-right .personal-article-show .box .articlePop .articlePopRight .postSelfie {
  width: 60px;
  height: 60px;
  outline: black 1px solid;
}

.society-section .society-container .col-right .personal-article-show .box .articlePop .articlePopRight .commentList {
  height: 480px;
}

.society-section .society-container .col-right .personal-article-show .box .articlePop .articlePopRight .commentList .timePart {
  font-size: 12px;
}

.society-section .society-container .col-right .personal-article-show .box .articlePop .articlePopRight .inputComment {
  height: 50px;
}

.society-section .society-container .col-right .personal-article-show .box .articlePop .articlePopRight .inputComment input[type="text"] {
  height: 40px;
  border-radius: 30px;
}

.society-section .society-container .col-right .personal-article-show .box .articlePop .articlePopRight .inputComment input[type="submit"] {
  height: 40px;
  border: none;
  background: none;
}

.society-section .society-container .col-right .society-group {
  position: relative;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 20px;
  padding: 12px;
  text-align: center;
  background-color: #fff;
}

.society-section .society-container .col-right .society-group .group-swich {
  width: 210px;
  height: 30vh;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.society-section .society-container .col-right .society-group .group-swich img {
  width: 300px;
  vertical-align: middle;
  border-style: none;
  color: #d0d0d0;
}

.society-section .society-container .col-right .society-group .group-swich .add-togroup {
  width: 30px;
  height: 30px;
  color: white;
  background: #1697d5;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  font-size: 30px;
}

.society-section .society-container .col-right .society-group .group-swich .group-name {
  position: absolute;
  bottom: 25px;
  left: 0px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 2px #264148;
}

.society-section .society-container .col-right .society-group .group-swich .leef {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: white;
  text-shadow: 2px 2px 2px #264148;
}

.society-section .society-container .col-right .society-group .group-swich .groupy-name {
  width: 128px;
  height: 25px;
  overflow: hidden;
}

.society-section .society-container .loading-img {
  width: 150px;
  height: 100px;
}

.society_group_bar {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 15px;
  margin-bottom: 13px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.society_group_bar .society-personal-header {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.society_group_bar .society-personal-header .society-header-banner {
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
  border-bottom: 2px solid #f08a12;
  cursor: pointer;
}

.society_group_bar .society-personal-header .group-preview {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #1697d5;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  padding: 3px;
}

.society_group_bar .society-personal-header .confirm-banner {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 2px 18px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  background-color: #1697d5;
  color: #fff;
  font-size: 18px;
}

.society_group_bar .society-personal-header .confirm-banner.change-btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.society_group_bar .society-personal-header .confirm-banner.change-btn:hover {
  bottom: 15px;
}

.society_group_bar .society_group_upperbar {
  position: relative;
}

.society_group_bar .society_group_upperbar .whenNoImg {
  height: 150px;
  outline: 1px solid #1697d5;
}

.society_group_bar .society_group_upperbar .group-img {
  height: 150px;
}

.society_group_bar .society_group_upperbar .group-bar-pic-set {
  outline: 2px solid #f08a12;
  background: #fff;
  opacity: 0.4;
  width: 100px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.society_group_bar .society_group_upperbar .group-bar-pic-set:hover {
  opacity: 1;
}

.society_group_bar .attend-group {
  border-radius: 10px;
  font-size: 20px;
  height: 30px;
  width: 150px;
  background: #1697d5;
  color: white;
  text-shadow: 2px 2px 2px #264148;
  position: absolute;
  right: 200px;
}

.society_group_bar .attend-group:hover {
  top: 168px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.society_group_bar .society_group_lowerbar {
  width: 90%;
}

.society_group_bar .society_group_lowerbar .group_name span {
  line-height: 35px;
}

.society_group_bar .society_group_lowerbar ul {
  border-top: 0.5px #cecece solid;
}

.society_group_bar .society_group_lowerbar ul li {
  margin: 0 5px;
  font-size: 18px;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.society_group_bar .society_group_lowerbar ul li:hover {
  border-bottom: 2px solid #1697d5;
}

.society-article-edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.society-article-edit .article-edit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  border: 1px solid #1697d5;
  border-radius: 10px;
  overflow: hidden;
}

.society-article-edit .article-edit-container > * {
  width: 80px;
  height: 55px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.society-article-edit .article-edit-container > * > h1 {
  letter-spacing: 1px;
  font-weight: normal;
  margin: 0;
  font-size: 20px;
}

.society-article-edit .article-edit-container > *:hover {
  background-color: #1697d5;
  color: #fff;
}

.society-article-edit .article-edit-container .article-edit-head {
  height: 45px;
  background-color: #1697d5;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.society-article-edit .edit-main-container {
  width: 800px;
  height: 575px;
  background-color: #fff;
  border-radius: 10px;
}

.society-article-edit .edit-main-container > h1 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 10px 0px;
  letter-spacing: 1px;
  background-color: #1697d5;
  color: #fff;
}

.society-article-edit .edit-main-container > h1 span {
  padding: 0;
  height: 25px;
  display: block;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 25px;
  cursor: pointer;
}

.society-article-edit .edit-main-container .edit-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #1697d5;
  padding-bottom: 12px;
}

.society-article-edit .edit-main-container .edit-title-container > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f08a12;
}

.society-article-edit .edit-main-container .edit-title-container .edit-title-name {
  margin-left: 10px;
}

.society-article-edit .edit-main-container .edit-title-container .edit-title-name h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 1px;
}

.society-article-edit .edit-main-container .edit-title-container .edit-title-name h6 {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.society-article-edit .edit-main-container .edit-main-place {
  height: 360px;
  overflow: scroll;
}

.society-article-edit .edit-main-container button {
  position: static;
  width: 80%;
  border: 1px solid #1697d5;
  margin: 15px 10%;
  background-color: #fff;
  padding: 8px 0px;
  border-radius: 10px;
  color: #1697d5;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.society-article-edit .edit-main-container button:hover {
  background-color: #1697d5;
  color: #fff;
}

.edit-about-place {
  height: 450px;
  overflow: scroll;
}

.about-group-set {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 15px;
  padding: 15px 0px;
  margin-bottom: 13px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about-group-set > div .mt-3 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 8px;
  font-size: 18px;
}

.about-group-set h5 {
  font-size: 20px;
}

.about-group-set .about-group-set-btn {
  position: absolute;
  top: -20px;
  right: 0;
}

.about-group-set .about-group-set-btn:hover {
  background: #02313d;
  color: white;
  border: 1px solid white;
}

.no-event-handle {
  color: #1697d5;
  font-size: 24px;
  font-weight: bolder;
}

.creatActivity {
  margin: 0px 20px 10px 0;
}

.creatActivity a {
  color: #1697d5;
  font-size: 24px;
  font-weight: bolder;
}

.my-activities {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 225px;
  margin-right: 20px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.my-activities:hover {
  bottom: 1px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.my-activities .activities-pic {
  width: 40%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.my-activities .activities-content {
  position: relative;
  width: 60%;
}

.my-activities .activities-content * {
  margin: 0;
  margin-left: 20px;
  margin-top: 15px;
}

.my-activities .activities-content .evt-name {
  font-size: 20px;
}

.my-activities .activities-content .evt-time {
  color: rgba(0, 0, 0, 0.5);
}

.my-activities .activities-content .evt-location {
  position: absolute;
  right: 22px;
  top: 15px;
  color: #1697d5;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.my-activities .activities-content .evt-location svg {
  margin: 0;
}

.my-activities .activities-content .evt-location span {
  margin: 0;
  margin-left: 3px;
}

.my-activities .activities-content .evt-content {
  font-weight: normal;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-right: 15px;
}

.my-activities .activities-content .evt-state {
  margin: 0;
  color: #f08a12;
  border: 2px solid #f08a12;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  right: 22px;
}

.my-activities .activities-content .evt-state span {
  margin: 0;
  line-height: 40px;
  padding: 15px 20px;
}

.group-member {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 15px;
  padding: 15px 0px;
  margin-bottom: 13px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-member .group-member-search {
  border: 2px solid #f08a12;
  width: 80%;
  border-radius: 27.5px;
  height: 35px;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.group-member .group-member-search .group-member-input {
  font-size: 18px;
  width: 470px;
  border-radius: 0 10px 10px 0;
  border: none;
  color: black;
}

.group-member .search-area {
  max-height: 200px;
  overflow: scroll;
  font-size: 18px;
}

.group-member .manage-member .manage-title {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  padding: 5px 5px;
  margin: 8px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  background-color: #1697d5;
  width: 200px;
}

.group-member .manage-member .group-selfie {
  font-size: 18px;
}

.group-media {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 15px;
  padding: 15px 0px;
  margin-bottom: 13px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  overflow: scroll;
}

.group-media .media-img-frame {
  border-radius: 10px;
  width: 140px;
  height: 150px;
}

.group-media .media-img-frame a {
  border-radius: 10px;
  display: block;
  width: 140px;
  height: 150px;
  text-decoration: none;
  color: white;
}

.group-media .media-img-frame a:hover {
  border: white 1px solid;
}

.group-media .btn-media {
  border: 1px black solid;
}

.group-media .btn-media:hover {
  background: gray;
}

.change-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.change-modal .change-container {
  min-width: 300px;
  min-height: 300px;
  max-height: 700px;
  max-width: 1300px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.change-modal .change-container > h3 {
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 20px;
  color: #264148;
}

.change-modal .change-container .temp-img-show {
  max-width: 1300px;
}

.change-modal .change-container .close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  background-color: #1697d5;
  padding: 2px 2px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.change-modal .change-container .close-btn * {
  width: 30px;
  height: 30px;
}

.change-modal .change-container .confirm-banner {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2px 18px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  background-color: #1697d5;
  color: #fff;
  font-size: 18px;
}

.change-modal .change-container .confirm-banner.change-btn {
  left: auto;
  right: -15px;
  bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.change-modal .change-container .confirm-banner.change-btn:hover {
  bottom: 33px;
}

.change-modal .change-container .show-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 200px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.change-modal .change-container .show-status > img {
  margin-bottom: 15px;
  width: 60px;
}

.change-modal .change-container .show-status .progress-bar-show {
  position: relative;
  border: 2px solid #1697d5;
  height: 15px;
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.change-modal .change-container .show-status .progress-bar-show > div {
  background-color: #1697d5;
  width: 0%;
  height: 100%;
}

.change-modal .change-container .upload-wrap {
  height: 130px;
  width: 130px;
  border-radius: 65px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #738bdc;
  background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
  background-size: 100% 200%;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #ffffff;
  font-size: 70px;
}

.change-modal .change-container .upload-wrap input[type="file"] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.change-modal .change-container .upload-wrap:hover {
  background-position: 0 100%;
  color: #1697d5;
}
/*# sourceMappingURL=Society.css.map */