@import "../../../../styles/var";
@import "./chat_var";

.chat-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #fff;
    bottom: 95px;
    right: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bdrs;
    & > * {
        color: $primarycolor;
        width: 30px;
        height: 30px;
    }
}

.chat-friend-list {
    padding: 10px 20px;
    height: 60px;
    flex-wrap: nowrap;
    height: 315px;
    // min-height: 140px;
    position: fixed;
    right: -100px;
    bottom: 160px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
    &.fade-in {
        right: 30px;
        pointer-events: all;
    }
    .search {
        background-color: #fff;
        // border: 1px solid #000;
        width: 60px;
        height: 60px;
        @include bdrs;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3px;
        & > * {
            color: $primarycolor;
            width: 30px;
            height: 30px;
        }
    }
    .friends {
        flex-shrink: 0;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-top: 5px;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/genuine-wall-311416.appspot.com/o/member%2F1%2FheadShot1.png?alt=media&token=249d26bf-77cf-4c5d-9888-e9cc7bbdcf37");
        background-size: cover;
        @include bdrs;
    }
}

.chat-room {
    position: fixed;
    bottom: 25px;
    right: 130px;
    width: 350px;
    height: 440px;
    background-color: #fff;
    @include bdrs(10px);
    z-index: 10;
    overflow: hidden;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 7.5px;
        left: 15px;
    }
    .friend-name {
        text-align: start;
        padding: 15px 0px;
        font-size: 20px;
        margin-bottom: 0;
        background-color: $primarycolor;
        padding-left: 65px;
        color: #fff;
        font-weight: normal;
        background-image: linear-gradient(315deg, #6bc1e9 0%, #80ced7 74%);
        border-bottom: 1px solid $primarycolor;
        height: 55px;
    }
    .chat-container {
        width: 100%;
        height: 325px;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #fff;
        // background-image: url('../../../../images/cbgi.jpeg');
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center center;
        .messaage-container {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            // margin-top: 10px;
        }
        .chat-content {
            display: flex;
            align-items: center;
            padding: 6px 0px;
            &:first-child {
                margin-top: 12px;
            }
            &:last-child {
                margin-bottom: 1px;
            }
            .chat {
                border-radius: 15px;
                padding: 8px 15px;
                max-width: 250px;
                p {
                    svg {
                        * {
                            color: $primarycolor;
                        }
                        width: 50px;
                        height: 50px;
                    }
                    margin: 0;
                    font-size: 16px;
                    word-wrap: break-word;
                }
            }
            &#right {
                justify-content: end;
                padding-right: 12px;
                .chat {
                    background-color: #eeeeee;
                    &::before {
                        content: "";
                        display: block;
                    }
                }
            }
            &#left {
                justify-content: start;
                padding-left: 12px;
                .chat {
                    background-color: #fff;
                    border: 1px solid #eeeeee;
                }
            }
        }
    }
    .chat-input {
        padding: 13px 13px;
        height: 60px;
        display: flex;
        background-color: #fff;
        position: relative;
        z-index: 30;
        & > div {
            display: flex;
            margin-left: 5px;
            position: absolute;
            right: 13px;
            top: 50%;
            z-index: 800;
            transform: translateY(-50%);
            // transition: all .5s ease-in-out;
            .emoji-set {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 3px;
                transition: all 0.2s ease-in-out;
                pointer-events: all;
                @for $i from 0 through 4 {
                    &:nth-child(#{abs($i - 4)}) {
                        transition-delay: #{$i * 0.1}s;
                    }
                }
                * {
                    width: 25px;
                    height: 25px;
                }
                &.fade-out {
                    transform: scale(0);
                    pointer-events: none;
                    @for $i from 0 through 4 {
                        &:nth-child(#{$i}) {
                            transition-delay: #{$i * 0.05}s;
                        }
                    }
                }
            }
        }
        textarea {
            position: relative;
            z-index: 1000;
            font-size: 16px;
            width: 100%;
            border-radius: 15px 0px 0px 15px;
            border: 1px solid $primarycolor;
            padding: 2px 10px;
            resize: none;
            width: 45%;
            transition: all 0.4s ease-in-out;
            &.changed {
                width: 100%;
            }
        }
        input {
            position: relative;
            z-index: 1000;
            background-image: linear-gradient(315deg, #6bc1e9 0%, #80ced7 74%);
            padding: 0px 8px;
            color: #fff;
            border: none;
            border-radius: 0px 15px 15px 0px;
        }
    }
}
