* {
  margin: 0;
  padding: 0;
  font-family: Microsoft JhengHei, sans-serif;
  letter-spacing: 0.02em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  width: 100vw;
  min-height: 100vh;
}

body .wrap {
  width: 70%;
  margin: 0 auto;
  /* HTML5 display-role reset for older browsers */
}

body .wrap html, body .wrap body, body .wrap div, body .wrap span, body .wrap applet, body .wrap object, body .wrap iframe,
body .wrap h1, body .wrap h2, body .wrap h3, body .wrap h4, body .wrap h5, body .wrap h6, body .wrap p, body .wrap blockquote, body .wrap pre,
body .wrap a, body .wrap abbr, body .wrap acronym, body .wrap address, body .wrap big, body .wrap cite, body .wrap code,
body .wrap del, body .wrap dfn, body .wrap em, body .wrap img, body .wrap ins, body .wrap kbd, body .wrap q, body .wrap s, body .wrap samp,
body .wrap small, body .wrap strike, body .wrap strong, body .wrap sub, body .wrap sup, body .wrap tt, body .wrap var,
body .wrap b, body .wrap u, body .wrap i, body .wrap center,
body .wrap dl, body .wrap dt, body .wrap dd, body .wrap ol, body .wrap ul, body .wrap li,
body .wrap fieldset, body .wrap form, body .wrap label, body .wrap legend,
body .wrap table, body .wrap caption, body .wrap tbody, body .wrap tfoot, body .wrap thead, body .wrap tr, body .wrap th, body .wrap td,
body .wrap article, body .wrap aside, body .wrap canvas, body .wrap details, body .wrap embed,
body .wrap figure, body .wrap figcaption, body .wrap footer, body .wrap header, body .wrap hgroup,
body .wrap menu, body .wrap nav, body .wrap output, body .wrap ruby, body .wrap section, body .wrap summary,
body .wrap time, body .wrap mark, body .wrap audio, body .wrap video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body .wrap article, body .wrap aside, body .wrap details, body .wrap figcaption, body .wrap figure,
body .wrap footer, body .wrap header, body .wrap hgroup, body .wrap menu, body .wrap nav, body .wrap section {
  display: block;
}

body .wrap body {
  line-height: 1;
}

body .wrap ol, body .wrap ul {
  list-style: none;
}

body .wrap blockquote, body .wrap q {
  quotes: none;
}

body .wrap blockquote:before, body .wrap blockquote:after,
body .wrap q:before, body .wrap q:after {
  content: '';
  content: none;
}

body .wrap table {
  border-collapse: collapse;
  border-spacing: 0;
}

body .wrap header .logo {
  max-width: 190px;
}

body .wrap header nav {
  margin: auto;
  margin-top: 20px;
  border-radius: 28px;
  padding: 10px 20px;
  width: 80%;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  height: 80px;
}

body .wrap header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
}

body .wrap header nav ul .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .wrap header nav ul .navbar li {
  padding: 0 20px;
  font-size: 20px;
}

body .wrap header nav ul .navbar li:nth-child(4) a {
  color: #1697d5;
}

body .wrap header nav ul .navbar li .navLink {
  text-decoration: none;
  color: #264148;
  display: inline-block;
  position: relative;
}

body .wrap header nav ul .navbar li .navLink:hover {
  color: #1697d5;
}

body .wrap header nav ul .navbar li .navLink:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

body .wrap header nav ul .navbar li .navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1.5px;
  bottom: -8px;
  left: 0;
  background-color: #1697d5;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

body .wrap h1 {
  margin-top: 150px;
  font-size: 24px;
  font-weight: bolder;
}

body .wrap pre {
  margin-top: 10px;
}

body .wrap .activeImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .25s;
  transition: .25s;
}

body .wrap .activeImage .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}

body .wrap .activeImage .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}

body .wrap .activeImage .options .imgHiking {
  background-image: url("../../../../images/background/hiking.jpg");
}

body .wrap .activeImage .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .wrap .activeImage .options .option.active {
  -webkit-box-flex: 10000;
      -ms-flex-positive: 10000;
          flex-grow: 10000;
  -webkit-transform: scale(1);
          transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}

body .wrap .activeImage .options .option.active .shadow {
  -webkit-box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
          box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

body .wrap .activeImage .options .option.active .label {
  bottom: 20px;
  left: 20px;
}

body .wrap .activeImage .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}

body .wrap .activeImage .options .option.active:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body .wrap .activeImage .options .option:not(.active) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 30px;
}

body .wrap .activeImage .options .option:not(.active) .shadow {
  bottom: -40px;
  -webkit-box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
          box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

body .wrap .activeImage .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

body .wrap .activeImage .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}

body .wrap .activeImage .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .wrap .activeImage .options .option .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .wrap .activeImage .options .option .label .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}

body .wrap .activeImage .options .option .label .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

body .wrap .activeImage .options .option .label .info > div {
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

body .wrap .activeImage .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}

body .wrap .activeImage .options .option .label .info .sub {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

body .wrap .main {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wrap .main .container {
  width: 550px;
}

body .wrap .main .container .introduce h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

body .wrap .main .container .introduce p {
  line-height: 24px;
  padding: 30px;
  margin-top: 20px;
}

body .wrap .main .container .introduce li {
  line-height: 24px;
  padding-left: 30px;
  margin-top: 20px;
}

body .wrap .main .container .message {
  margin-top: 30px;
}

body .wrap .main .container .message h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

body .wrap .main .container .message .messageBoard {
  margin-top: 30px;
}

body .wrap .main .container .message .messageBoard .messageList {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  border-bottom: solid 1px  #d6d6d6;
}

body .wrap .main .container .message .messageBoard .messageList .messageListImg img {
  width: 72px;
  border-radius: 36px;
}

body .wrap .main .container .message .messageBoard .messageList .messageContainer {
  margin-left: 30px;
}

body .wrap .main .container .message .messageBoard .messageList .messageContainer .messageContainerInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrap .main .container .message .messageBoard .messageList .messageContainer .messageContainerText {
  margin-top: 30px;
}

body .wrap .main .container .message .messageFrom {
  margin-top: 30px;
}

body .wrap .main .container .message .messageFrom .from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrap .main .container .message .messageFrom .from textarea {
  margin: auto;
}

body .wrap .main .container .message .messageFrom .send {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 85%;
}

body .wrap .main .container .message .messageFrom .send button {
  font-size: 16px;
  padding: 8px 20px;
  border: #000;
  border-radius: 10px;
}

body .wrap .main .navbarItem {
  margin-left: 10px;
  padding: 20px;
  width: 250px;
  height: 700px;
  border: #000 solid 1px;
  border-radius: 5px;
}

body .wrap .main .navbarItem h3 {
  line-height: 36px;
  font-size: 16px;
  padding-bottom: 25px;
}

body .wrap .main .navbarItem h3 a {
  text-decoration: none;
  color: #000;
}

body .wrap .main .navbarItem h3 a img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

body .wrap .main .navbarItem table tr td {
  padding-right: 25px;
  padding-bottom: 25px;
}

body .wrap .main .navbarItem .apply {
  float: right;
  margin-top: 30px;
}
/*# sourceMappingURL=activityIntroduce.css.map */