@import "../../../styles/var";

@mixin Setting_Input {
    border-radius: 5px;
    border: 1px #bfbfbf solid;
    background-color: $bgcolor;
    width: 150px;
    height: 30px;
    line-height: 40px;
    font-weight: 300;
    margin-right: 15px;
    padding-left: 5px;
}

@mixin Setting_Button {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: $primarycolor;
    color: white;
    font-size: 16px;
    width: 50px;
    height: 30px;
}

@mixin Input_Placeholder {
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
}

@mixin Content_Shadow {
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.5);
    width: 600px;
    max-height: 450px;
    padding: 1px;
    overflow-y: scroll;
}
svg {
    cursor: pointer;
}

.Setting_Frame {
    box-sizing: border-box;
    background-image: url(../../../images/main//background.png);
    color: $fontcolor;
    display: flex;
    font-style: $font;
    height: 100vh;

    //-----------Sidebar----------- //
    .Sidebar {
        margin-top: 191px;
        margin-left: 144px;
        font-size: 18px;
        width: 400px;
        height: 464px;
        // border: 1px black solid;
        border-right: 1px rgba(0, 0, 0, 0.178) solid;
        padding-right: 20px;

        ul {
            list-style: none;
            li {
                text-align: right;
                margin: 20px;
                cursor: pointer;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    //-----------Normal Setting----------- //

    .Normal_Content {
        font-size: 20px;
        margin: 130px 0px 0px 50px;
        width: 750px;
        height: 500px;
        padding: 20px;
        p {
            color: $fontcolor;
            font-size: 22px;
        }
        .Content_Shadow {
            @include Content_Shadow();
            //-----------Normal Setting Name----------- //
            .Normal_item_name {
                margin: 30px;
                label {
                    padding-right: 80px;
                }
                &:nth-child(6) label {
                    padding-right: 60px;
                }
                span {
                    padding-right: 10px;
                }
                input {
                    border-radius: 5px;
                    border: 1px #bfbfbf solid;
                    background-color: $bgcolor;
                    width: 150px;
                    height: 30px;
                    font-weight: 300;
                    padding-left: 5px;
                    &:nth-child(4) {
                        margin: 10px 15px 0px 121px;
                    }
                }
                button {
                    @include Setting_Button();
                    &:nth-child(6) {
                        background-color: rgb(160, 160, 160);
                    }
                }
            }
            //-----------Normal Setting Birthday----------- //
            .Normal_item_birthday {
                margin: 30px;
                label {
                    padding-right: 80px;
                }
                span {
                    padding-right: 10px;
                }
                .bbtn {
                    display: none;
                }
                input {
                    @include Setting_Input();
                    width: 250px;
                    // //---display在這裡----//
                    // display: none;
                }
                button {
                    @include Setting_Button();
                    // //---display在這裡----//
                    // display: none;
                    &:nth-child(5) {
                        background-color: rgb(160, 160, 160);
                    }
                }
            }

            //-----------Normal Setting UserID----------- //
            .Normal_item_userID {
                margin: 30px;
                label {
                    padding-right: 60px;
                }
                span {
                    padding-right: 10px;
                }
            }

            //-----------Normal Setting Email----------- //
            .Normal_item_email {
                margin: 30px;
                label {
                    padding-right: 40px;
                }
                span {
                    padding-right: 10px;
                }
                input {
                    @include Setting_Input();
                    width: 250px;
                    // //---display在這裡----//
                    // display: none;
                }
                button {
                    @include Setting_Button();
                    // //---display在這裡----//
                    // display: none;
                    &:nth-child(4) {
                        background-color: rgb(160, 160, 160);
                    }
                }
            }

            //-----------Normal Setting Place----------- //
            .Normal_item_place {
                margin: 30px;
                label {
                    padding-right: 60px;
                }
                span {
                    padding-right: 10px;
                }
                .ant-select {
                    .ant-select-selector {
                        display: flex;
                        align-items: center;
                        @include Setting_Input();
                        text-align: center;
                        line-height: 30px;
                        font-size: 18px;
                    }
                }
                button {
                    @include Setting_Button();
                    &:nth-child(4) {
                        background-color: rgb(160, 160, 160);
                    }
                }
            }
        }
    }

    //-----------Safety Setting----------- //
    .Safety_Content {
        font-size: 20px;
        margin: 130px 0px 0px 50px;
        width: 750px;
        height: 500px;
        padding: 20px;
        p {
            color: $fontcolor;
            font-size: 22px;
        }
        .Content_Shadow {
            @include Content_Shadow();

            //-----------Safety Setting Password----------- //
            .Safety_item_password {
                margin: 30px;
                label {
                    padding-right: 80px;
                }
                span {
                    padding-right: 10px;
                }
                p {
                    padding-right: 10px;
                    font-size: 20px;
                }
                input {
                    @include Setting_Input();
                    margin-left: 50px;
                    margin-top: 10px;
                    &:nth-child(7) {
                        margin-bottom: 10px;
                    }

                    &::placeholder {
                        @include Input_Placeholder();
                    }
                }
                button {
                    @include Setting_Button();

                    &:nth-child(13) {
                        background-color: rgb(160, 160, 160);
                    }
                }
                // br {
                //     //---display在這裡----//
                //     &:first-child {
                //         display: none;
                //     }
                // }
            }
        }
    }

    //-----------Privacy Setting----------- //
    .Privacy_Content {
        font-size: 20px;
        margin: 130px 0px 0px 50px;
        width: 750px;
        height: 500px;
        padding: 20px;
        p {
            color: $fontcolor;
            font-size: 22px;
        }
        .Content_Shadow {
            @include Content_Shadow();

            //-----------Privacy Setting item----------- //
            .Privacy_item {
                position: relative;
                margin: 30px;
                label {
                    padding-right: 80px;
                }
                svg {
                    cursor: pointer;
                    font-size: 21px;
                }
                span {
                    &:first-child {
                        padding-right: 40px;
                    }
                    &:nth-child(3) {
                        font-size: 18px;
                        padding: 10px;
                        cursor: pointer;
                    }
                }
                input {
                    @include Setting_Input();
                    margin-top: 10px;
                    &::placeholder {
                        @include Input_Placeholder();
                    }
                }
                button {
                    @include Setting_Button();
                    // display: none;
                    &:nth-child(4) {
                        background-color: rgb(160, 160, 160);
                    }
                }
            }
            .Privacy_item_list {
                position: relative;
                width: 350px;
                padding-left: 152px;
                margin-bottom: 40px;
                .Privacy_item_list_flexbox {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    &:first-child {
                        margin-top: 0px;
                    }
                    span {
                        margin-right: 15px;
                    }
                    button {
                        @include Setting_Button();
                        width: 80px;
                        background-color: rgb(160, 160, 160);
                    }
                }
            }
        }
    }

    //-----------Guide Setting----------- //
    .Guide_Content {
        font-size: 20px;
        margin: 130px 0px 0px 50px;
        width: 750px;
        height: 500px;
        padding: 20px;
        p {
            color: $fontcolor;
            font-size: 22px;
            span{
                font-size: 18px; 
                color: $primarycolor;
                cursor: pointer;
                margin-left: 30px;
            }
        }
        .Content_Shadow {
            @include Content_Shadow();
            padding-bottom: 30px;

            //-----------Guide Setting item----------- //
            .Guide_item {
                position: relative;
                margin: 30px;
                //-----------Guide Setting Introdution----------- //
                .Guide_Introdution {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                    }
                    textarea {
                        @include Setting_Input();
                        width: 520px;
                        height: 70px;
                        &::placeholder {
                            @include Input_Placeholder();
                        }
                    }
                    button {
                        @include Setting_Button();
                        margin: 10px 0 0 410px;
                        &:nth-child(6) {
                            margin-left: 10px;
                            background-color: rgb(160, 160, 160);
                        }
                    }
                }
                //-----------Guide Setting NumOfPeople----------- //
                .Guide_NumOfPeople {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                        &:nth-child(2) {
                            padding: 0 50px 0 50px;
                        }
                    }
                    button {
                        font-size: 17px;
                        border-radius: 10px;
                        padding: 2px 5px;
                        width: 25px;
                        text-align: center;
                        border: 1px #f8f8f8 solid;
                        box-shadow: 1px 1px 3px #c7c7c7;
                        margin: 0 20px 0 1px;
                        background-color: #ffffff;
                        font-weight: 600;
                        cursor: pointer;
                        &:nth-child(3) {
                            margin-left: 20px;
                        }
                        &:nth-child(4) {
                            @include Setting_Button();
                        }
                        &:nth-child(5) {
                            @include Setting_Button();
                            margin-left: 0px;
                            background-color: rgb(160, 160, 160);
                        }
                    }
                }
                //-----------Guide Setting Gender----------- //
                .Guide_Gender {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                        &:nth-child(2) {
                            padding: 0 50px 0 50px;
                        }
                    }
                    label {
                        margin-bottom: 0px;
                    }
                    input {
                        margin: 5px;
                    }
                    button {
                        margin-left: 20px;
                        @include Setting_Button();
                        &:nth-child(9) {
                            margin-left: 0px;
                            background-color: rgb(160, 160, 160);
                        }
                    }
                }
                //-----------Guide Setting Transportation----------- //
                .Guide_Transportation {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                        &:nth-child(2) {
                            padding: 0 50px 0 50px;
                        }
                    }
                    label {
                        margin-bottom: 0px;
                    }
                    input {
                        margin: 5px;
                    }
                    button {
                        margin-left: 20px;
                        @include Setting_Button();
                        &:nth-child(9) {
                            margin-left: 0px;
                            background-color: rgb(160, 160, 160);
                        }
                    }
                }
                //-----------Guide Setting Photo----------- //
                .Guide_Photo {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                    }
                    // span {
                    //     padding-right: 5px;
                    // }
                    // .Guide_Photo_Frame {
                    //     display: flex;
                    //     width: 540px;
                    //     height: 120px;
                    //     padding: 10px;
                    //     justify-content: space-between;
                    //     background-color: aqua;
                    // }
                }
                //-----------Guide Setting City----------- //
                .Guide_City {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                        // &:nth-child(2) {
                        //     padding: 0 50px 0 50px;
                        // }
                    }
                    .areaname {
                        padding: 0 50px 0 50px;
                    }
                    .ant-select {
                        .ant-select-selector {
                            display: flex;
                            align-items: center;
                            @include Setting_Input();
                            text-align: center;
                            line-height: 30px;
                            font-size: 18px;
                        }
                    }
                    button {
                        @include Setting_Button();
                        &:nth-child(4) {
                            background-color: rgb(160, 160, 160);
                        }
                    }
                }
                //-----------Guide Setting Recommandation----------- //
                .Guide_Recommandation {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                    }
                    .recommendText {
                        font-size: 16px;
                    }
                    input {
                        @include Setting_Input();
                        width: 200px;
                        &:nth-child(3) {
                            @include Setting_Button();
                            line-height: 30px;
                        }
                    }
                    #placeInputContainer {
                        height: 105px;
                        margin-top: 10px;
                        padding: 10px;
                        border: 1px #858585 dashed;
                        border-radius: 10px;
                        .placeInputSpan {
                            margin: 0px 20px 10px 0;
                            // padding: 0 10px 0 13px;
                            border-radius: 12px;
                            display: inline-block;
                            background-color: rgba(255, 255, 255, 0.7);
                            box-shadow: 1px 1px 3px #858585;
                            input {
                                border: none;
                                cursor: default;
                                color: #264148;
                                font-size: 20px;
                                text-align: center;
                                overflow: visible;
                                background: none;
                                font-weight: 550;
                                margin-right: 0;
                            }
                            .placeDelete {
                                font-size: 18px;
                                cursor: pointer;
                                font-weight: 300;
                                border: none;
                                background-color: transparent;
                                color: #264148;
                                margin-left: 5px;
                            }
                        }
                    }
                    .mybutton {
                        @include Setting_Button();
                        margin-top: 10px;
                        margin-left: 400px;
                        &:nth-child(7) {
                            margin-left: 0px;
                            background-color: rgb(160, 160, 160);
                        }
                    }
                }
                //-----------Guide Setting Restaurant----------- //
                .Guide_Restaurant {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                    }
                    .recommendText {
                        font-size: 16px;
                    }
                    input {
                        @include Setting_Input();
                        width: 200px;
                        &:nth-child(3) {
                            @include Setting_Button();
                            line-height: 30px;
                        }
                    }
                    #placeInputContainer {
                        height: 105px;
                        margin-top: 10px;
                        padding: 10px;
                        border: 1px #858585 dashed;
                        border-radius: 10px;
                        .placeInputSpan {
                            margin: 0px 20px 10px 0;
                            // padding: 0 10px 0 13px;
                            border-radius: 12px;
                            display: inline-block;
                            background-color: rgba(255, 255, 255, 0.7);
                            box-shadow: 1px 1px 3px #858585;
                            input {
                                border: none;
                                cursor: default;
                                color: #264148;
                                font-size: 20px;
                                text-align: center;
                                overflow: visible;
                                background: none;
                                font-weight: 550;
                                margin-right: 0;
                            }
                            .placeDelete {
                                font-size: 18px;
                                cursor: pointer;
                                font-weight: 300;
                                border: none;
                                background-color: transparent;
                                color: #264148;
                                margin-left: 5px;
                            }
                        }
                    }
                    .mybutton {
                        @include Setting_Button();
                        margin-top: 10px;
                        margin-left: 400px;
                        &:nth-child(7) {
                            margin-left: 0px;
                            background-color: rgb(160, 160, 160);
                        }
                    }
                }

                //-----------Guide Setting Available----------- //
                .Guide_Available {
                    margin-top: 10px;
                    span {
                        padding-right: 10px;
                    }
                    .reservation {
                        width: 470px;
                        height: 300px;
                        .reservationCalendar {
                            .calendarArea {
                                margin-top: 15px;
                                height: 330px;
                                border-radius: 10px;
                                box-shadow: 2px 2px 5px #dfdfdf;
                                padding: 10px;
                                background-color: #ffffff9c;
                                div > div.fc-view-harness.fc-view-harness-active > div > table {
                                    border: none;
                                    td {
                                        border: none;
                                    }
                                    thead > tr > th {
                                        border: none;
                                        th {
                                            border: none;
                                        }
                                        td {
                                            border: none;
                                        }
                                    }
                                }
                                .fc-daygrid-day-bg > div > div {
                                    border-radius: 50%;
                                }
                                #fc-dom-2 {
                                    font-size: 10px;
                                    font-weight: 600;
                                }
                                .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
                                    margin-bottom: 15px;
                                    div:nth-child(1) > button {
                                        font-size: 15px;
                                        height: 30px;
                                        padding: 3px 8px;
                                        border: none;
                                        font-weight: 600;
                                        background-color: #6bc1e9;
                                        background-image: linear-gradient(315deg, #6bc1e9 0%, #80ced7 74%);
                                        &:hover {
                                            box-shadow: 2px 2px 3px #85858593;
                                        }
                                    }
                                    .fc-toolbar-chunk {
                                        h2 {
                                            font-size: 24px;
                                        }
                                    }
                                }
                                .fc-daygrid-day-events {
                                    display: none;
                                }
                                .fc-daygrid-day-top {
                                    margin-top: 3px;
                                    .fc-daygrid-day-number {
                                        color: $fontcolor;
                                        font-size: 15px;
                                        font-weight: 500;
                                        margin: 4px auto;
                                    }
                                }
                                .fc-col-header-cell-cushion {
                                    color: $fontcolor;
                                    cursor: default;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                                .fc-next-button,
                                .fc-prev-button {
                                    height: 30px;
                                    width: 30px;
                                }
                                .fc-prev-button.fc-button.fc-button-primary {
                                    margin-right: 10px;
                                    position: relative;
                                    span {
                                        position: absolute;
                                        top: 5px;
                                        left: 1px;
                                    }
                                }
                                .fc-next-button.fc-button.fc-button-primary {
                                    position: relative;
                                    span {
                                        position: absolute;
                                        top: 5px;
                                        left: 4px;
                                    }
                                }
                                .fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
                                    border-radius: 30px;
                                }
                                .fc-daygrid-day-bg > div > div {
                                    margin: 5% 7%;
                                }
                            }
                        }
                        // .myButton {
                        //     @include Setting_Button();
                        //     margin-top: 10px;
                        //     &:last-child {
                        //         background-color: rgb(160, 160, 160);
                        //     }
                        // }
                        
                        .myButton {
                            @include Setting_Button();
                            position: absolute;
                            margin: -30px 20px 0 420px;
                            &:last-child {
                                margin-left: 480px;
                                background-color: rgb(160, 160, 160);
                            }
                        }
                    }
                }
            }
        }
    }
}


