@mixin content-position {
    margin-right: 20px;
    margin-left: 15px;
}

@mixin personal-topic {
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 15px;
    padding: 13px 10px;
    letter-spacing: 1px;
    margin-top: 0;
    border-radius: 10px;
    margin-bottom: 13px;
    text-align: center;
    color: #fff;
    background-color: $primarycolor;
}

@mixin bdrs {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

@mixin notice-topic($color:$primarycolor) {
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: normal;
    // border: 1px solid #000;
    border-radius: 10px;
    width: 205px;
    text-align: center;
    padding: 5px 15px;
    background-color: $color;
    color: #fff;
    justify-content: space-between;
    @include bdrs;
    display: flex;
    align-items: center;
    span {
        margin-right: 5px;
    }
    &> svg {
        font-size: 23px;
    }
}

@mixin notice-content-set($color: $primarycolor) {
    position: relative;
    display: flex;
    border: 1px solid $color;
    border-radius: 10px;
    padding: 15px 15px;
    align-items: center;
    margin-bottom: 15px;
    @include bdrs;
    img {
        margin-right: 15px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
    .content-date {
        font-size: 14px;
        width: 85px;
        padding: 0px 0px;
        letter-spacing: 1px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
    }
    .apply-reply-btn {
        width: 60px;
        .accept-apply {
            margin-bottom: 3px;
        }
    }
    .cancel-apply, .accept-apply {
        cursor: pointer;
        @include mainBtn;
        width: 60px;
        letter-spacing: 1px;
        font-size: 14px;
        height: 55px;
        padding: 0px 10px;
        background-color: $color;
    }
}

@mixin notice-content-innerText($color: $primarycolor) {
    border-left: 1px solid $color;
    padding-left: 15px;
    width: 385.5px;
    .content-name {
        margin: 0;
        font-weight: normal;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 25px;
        span {
            font-weight: 600;
        }
    }
    .content-detail {
        position: relative;
        margin: 0;
        margin-top: 12px;
        font-weight: normal;
        display: flex;
        justify-content: space-between;
        width: 350px;
        font-size: 14px;
        .notice-location {
            position: absolute;
            left:60%;
        }
        .notice-separate {
            position: absolute;
            left: 53%;
        }
    }
}