// ----- 匯入設定樣式檔 -----
@import "../../../styles/var";

.applicantsArea {
    width: 300px;
    min-height: 170px;
    border: 1px black solid !important;
    border-radius: 5px;
    padding: 20px !important;
    margin-bottom: 30px !important;
    .applicantsNum {
        font-size: 20px;
    }
    .applicants {
        font-size: 20px;
        margin-top: 10px;
        .applicantsPeople {
            margin-top: -40px;
            margin-left: 110px;
            .applicant {
                line-height: 45px;
                cursor: pointer;

                .memberImg {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 1px 1px 1px rgb(112, 112, 112);
                    }
                }
                .memberName {
                    cursor: pointer;
                    &:hover {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
