// ----- 匯入設定樣式檔 -----
@import "../../../styles/var";
// ------------------------
@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}
// html,
// body {
//   @include mobile {
//     overflow-x: hidden;
//   }
// }

/*-------------Main--------------- */
#mainSection {
  width: 100%;
  height: 100vh;
  background-image: url("../../../images/Home/main/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
  position: relative;
  .women {
    position: absolute;
    left: 13%;
    bottom: 0px;
    height: 580px;
    @include mobile {
      height: 280px;
      // width: 300px;
      object-fit: cover;
      overflow: visible;
    }
    .compass {
      position: absolute;
      left: -80px;
      top: 420px;
      @include mobile {
        left: -20px;
        top: 200px;
        width: 30px;
        z-index: 10;
      }
    }
    .camera {
      position: absolute;
      left: 320px;
      top: -20px;
      @include mobile {
        width: 50px;
        left: 200px;
        top: -50px;
      }
    }

    .plane1 {
      position: absolute;
      left: -55px;
      top: 135px;
      z-index: 50;
      @include mobile {
        top: 90px;
        width: 30px;
      }
    }
    .plane2 {
      position: absolute;
      left: 500px;
      top: 95px;
      z-index: 1;
      @include mobile {
        top: -55px;
        width: 30px;
        left: 170px;
      }
    }

    .star1 {
      position: absolute;
      left: 200px;
      top: -10px;
      @include mobile {
        left: 90px;
      }
    }

    .star2 {
      position: absolute;
      left: 180px;
      top: 0px;
      @include mobile {
        left: 70px;
      }
    }

    .track1 {
      position: absolute;
      left: -50px;
      top: 170px;
      opacity: 0.4;
      @include mobile {
        top: 60px;
        width: 50px;
        left: -30px;
      }
    }
    .track2 {
      position: absolute;
      left: 540px;
      top: 130px;
      z-index: 10;
      opacity: 0.4;
      @include mobile {
        width: 50px;
        left: 260px;
        top: 0px;
      }
    }
  }

  .mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 250px;
    right: 300px;
    @include mobile {
      right: 80px;
      bottom: 340px;
      overflow: visible;
    }
    .splash1 {
      position: absolute;
      left: 280px;
      top: 45px;
      @include mobile {
        left: 220px;
        top: 40px;
      }
    }
    .splash2 {
      position: absolute;
      left: 0px;
      top: -30px;
    }
    .explore {
      margin: 0;
      padding: 0;
      font-size: 4em;
      text-shadow: 2px 2px #fff, -2px 2px #fff, 2px -2px #fff, -2px -2px #fff,
        1px 1px 5px #555;
      // border: 10px solid white;
      // -webkit-text-stroke: 5px white; /* width and color */
      // text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
      color: #116f9c;
      @include mobile {
        font-size: 3em;
      }
    }
    .meet {
      margin: 0;
      padding: 0;
      font-size: 4em;
      color: $primarycolor;
      text-shadow: 2px 2px #fff, -2px 2px #fff, 2px -2px #fff, -2px -2px #fff,
        1px 1px 5px #555;

      @include mobile {
        font-size: 3em;
      }
    }
    button {
      display: inline-block;
      padding: 12px 24px;
      border: 0px solid #f07c58;
      border-radius: 20px;
      transition: all 0.2s ease-in;
      position: relative;
      overflow: hidden;
      font-size: 19px;
      background-color: #e79087;
      background-image: linear-gradient(315deg, #6bc1e9 0%, #80ced7 74%);
      text-shadow: 0.5px 0.5px #f3680c;
      z-index: 1;
      margin-top: 20px;
      a {
        color: white;
        font-weight: 400;
        &:hover {
          color: #158ac0;
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        // background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: $primarycolor;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }

      &:hover {
        color: $primarycolor;
        text-shadow: none;
        font-weight: 500;

        &::before {
          top: -35%;
          background-color: white;
          // transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }

        &::after {
          top: -45%;
          background-color: #fde7f9;
          background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);

          // background-color: white;
          // transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }
      }
    }
  }
}

#searchBar {
  width: 100%;
  margin: 50px 0;
  @include mobile {
    // width: 300px;
  }
  .searchBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-image: url("../../../images/Home/mainpagebgv4.png");
    background-position: center;
    background-repeat: no-repeat;
    h3 {
      font-size: 24px;
      color: #f8f8f8;
      text-shadow: 2px 2px 2px $fontcolor;
      @include mobile {
        font-size: 18px;
      }
    }
    h1 {
      font-size: 35px;
      color: #f8f8f8;
      text-shadow: 2px 2px 2px $fontcolor;
      @include mobile {
        font-size: 26px;
      }
    }
    .search-container {
      margin-top: 30px;
      background: #fff;
      border-radius: 10px;
      // padding: 0 0 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.8s;
      border: none;
      @include mobile {
        width: 100%;
        flex-direction: column;
        padding: 5px;
        margin: 0px;
      }
      .selector {
        margin: 5px;
        border-right: 1px solid rgb(190, 189, 189);
        @include mobile {
          border: none;
        }
        .ant-select {
          border: none;
          font-size: 20px;

          .ant-select-selector {
            height: 39px;
            border: none;
            display: flex;
            align-items: center;
            .ant-select-selection-placeholder {
              color: rgb(180, 180, 180);
            }
          }
        }
      }
      .datepicker {
        margin: 5px;
        .ant-picker {
          border-left: 5px solid black;
          .ant-picker-input {
            input {
              font-size: 20px;
            }
          }
        }
      }
      .radioswitch {
        // margin: 5px 10px 5px 5px;
        padding: 5px 10px 5px 5px;
        .ant-radio-group {
          .ant-radio-button-wrapper-checked {
            &:not(.ant-radio-button-wrapper-disabled) {
              &::before {
                background-color: white;
              }
            }
          }
        }
        .ant-radio-button-wrapper {
          border: none;
          border-radius: 10px;
          .ant-radio-button {
            border: none;
          }
          span {
            font-size: 20px;
          }
        }
      }
      button {
        display: flex;
        align-items: center;
        background-color: $primarycolor;
        font-size: 26px;
        padding: 0 15px;
        color: white;
        height: 50px;
        border: 1px solid $primarycolor;
        border-radius: 0 10px 10px 0;
        @include mobile {
          width: 80%;
          border-radius: 5px;
          padding: 5px;
          background-color: #40a3c4;
          border: none;
        }
        svg {
          @include mobile {
            margin-left: 130px;
          }
        }
      }
    }
  }
}

#trendingCity {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  @include mobile {
    // flex-direction: row;
  }
  .cityShortcut {
    .CardHeader {
      font-size: 1.75rem;
      padding: 50px 0 10px;
    }
    .cityboxGroup {
      width: 1110px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @include mobile {
        // flex-direction: column;
        width: 360px;
        flex-wrap: wrap;
        flex: 50%;
      }
      .citybox {
        width: 177px;
        height: 30vh;
        background-color: gray;
        border-radius: 10px;
        position: relative;
        transition: 0.3s ease-in-out;
        @include mobile {
          // flex: 50%;
          margin: 5px 0;
        }
        &:hover {
          opacity: 0.6;
          filter: saturate(1.5);
          // -webkit-filter: saturate(1.5);
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          transform: translate(-0.2rem, -0.2rem);
          background-color: white;
        }
        .citypic {
          width: 177px;
          height: 30vh;
          border-radius: 10px;
          object-fit: cover;
          overflow: hidden;
          @include mobile {
          }
        }
        p {
          position: absolute;
          bottom: 1px;
          left: 16px;
          color: #ffffff;
          font-size: 24px;
          text-shadow: 2px 2px 2px $fontcolor;
        }
      }
    }
  }
}

#Recommandation,
#trendingEvent,
.weatherCard {
  width: 1100px;
  margin: auto;
  margin-top: 80px;
  @include mobile {
    // height: 400px;
    overflow: visible;
    margin-top: 0px;
  }

  .CardHeader {
    margin: 50px 0 0px 0;
    @include mobile {
      margin-left: 50px;
      // margin-top: 150px;
    }
  }
  .test {
    width: 1110px;
    // margin: auto;
    @include mobile {
      height: 500px;
    }
    .slick-slider {
      @include mobile {
        width: 260px;
        margin: 0px 70px;
        // height: 600px;
        overflow: visible;
      }
      .slick-list {
        padding: 20px 0;
      }
      .slick-prev {
        width: 50px;
        height: 50px;
        left: -60px;
        z-index: 1;
        &::before {
          font-size: 50px;
          color: rgb(236, 234, 234);
          opacity: 1;
          top: 5px;
        }
      }
      .slick-next {
        width: 50px;
        height: 50px;
        right: -40px;
        z-index: 1;
        &::before {
          font-size: 50px;
          color: rgb(236, 234, 234);
          opacity: 1;
        }
      }

      .eventCard {
        overflow-x: hidden;
        border-radius: 10px;
        padding: 20px;
        width: 0;
        max-width: 95%;
        margin-right: 20px;
        background-color: #fff;
        // box-shadow: $cardShadow;
        cursor: pointer;
        scroll-behavior: smooth;
        @include mobile {
          // overflow: visible;
          height: 350px;
          // overflow: visible;
        }
        &:hover {
          box-shadow: $cardShadow;
        }

        .eventCard__header {
          position: relative;
          height: 160px;
          margin: -20px -20px 20px -20px;
          overflow: hidden;

          .eventCard__icon {
            border-radius: 10px 0 0 0;
            position: absolute;
            // display: block;
            // max-width: 100%;
            width: 100%;
            height: 160px;
            object-fit: cover;
          }
        }

        .eventCard__body {
          height: 20px;
          // line-height: 25px;
          // margin: 10px 0;
          @include mobile {
            height: 130px;
            overflow: visible;
          }
          .eventTime {
            color: gray;
            font-size: 14px;
          }

          .eventCard__title {
            line-height: 25px;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
          }

          p {
            margin: 5px 0 10px;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 300;
          }

          .eventCard__duration {
            color: $primarycolor;
            font-size: 14px;
            font-weight: 300;
          }
          span {
            float: right;
            margin-bottom: 5px;
            i {
              padding-right: 5px;
              color: $primarycolor;
            }
          }
        }
      }
    }
  }
}

#trendingGuide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  @include mobile {
    width: 370px;
    margin: 0px;
  }
  .GuideCardGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include mobile {
      width: 370px;
      margin: 0px;
    }
    .CardHeader {
      font-size: 1.75rem;
      padding: 50px 0 10px;
      @include mobile {
        padding: 50px 10px 0px;
      }
    }
    .GuideCard {
      width: 1110px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @include mobile {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 370px;
      }
      .snip1336 {
        position: relative;
        overflow: hidden;
        // margin: 10px 10px 10px 0;
        width: 355px;
        color: $fontcolor;
        text-align: left;
        line-height: 1.4em;
        background-color: white;
        box-shadow: $cardShadow;
        cursor: pointer;
        border-radius: 25px;

        .imgBG {
          height: 150px;
          width: 100%;
        }

        img {
          max-width: 100%;
          vertical-align: top;
          opacity: 0.85;
        }
        figcaption {
          width: 100%;
          background-color: white;
          padding: 25px;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            bottom: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 40px 0 0 400px;
            border-color: transparent transparent transparent white;
          }

          a {
            padding: 5px;
            border: 1px solid $fontcolor;
            color: $fontcolor;
            font-size: 0.7em;
            margin: 10px 0;
            display: inline-block;
            opacity: 0.65;
            width: 47%;
            text-align: center;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 1px;

            &:hover {
              opacity: 1;
            }
          }

          .profile {
            border-radius: 50%;
            position: absolute;
            bottom: 100%;
            left: 25px;
            z-index: 1;
            max-width: 90px;
            opacity: 1;
            box-shadow: $cardShadow;
          }

          .follow {
            border-color: #2980b9;
            color: #2980b9;
            display: block;
            margin: 20px auto 0 auto;
            font-size: 16px;
          }

          h2 {
            margin: 0 0 5px;
            font-weight: 500;
            font-size: 16px;

            span {
              display: block;
              font-size: 14px;
              font-weight: 300;
              color: #2980b9;
              float: right;

              i {
                margin-right: 5px;
              }
            }
          }

          p {
            margin: 0 0 10px;
            font-size: 1em;
            letter-spacing: 1px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

#weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  @include mobile {
    // width: 20%;

    // margin: 150px 0px;
  }

  .weatherAPI {
    margin-top: 100px;
    width: 1100px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include mobile {
      // max-width: 500px;
      width: 300px;
      height: 800px;
      overflow: visible;
      margin: 0px;
      // padding: 0px;
    }

    .APIweather {
      display: flex;
      flex-direction: column;
      max-width: 1110px;
      @include mobile {
        // max-width: 500px;
        width: 440px;
      }

      .weatherDetails {
        width: 1100px;
        border-radius: 20px;
        padding: 20px 0;
        padding-bottom: 20px;
        @include mobile {
          // max-width: 450px;
          width: 310px;
          padding: 5px;
          // height: 900px;
        }

        .weatherCity {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 25px 0;
          @include mobile {
            // flex-direction: column;
            height: 60px;
          }
          .chip {
            font-size: 16px;
            padding: 5px 0;
            width: 250px;
            border: none;
            background-color: rgba($color: #fff, $alpha: 0.4);
            // color: #6bc1e9;
            color: #444;
            @include mobile {
              // width: 100%;
              height: 100%;
              padding: 5px;
              background-color: rgba($color: #fff, $alpha: 0.4);
            }
            &:hover {
              color: white;
              // background-color: #6bc1e9;
              border: none;
              background-color: #c2b6b6;
              background-image: linear-gradient(
                315deg,
                #c2b6b6 0%,
                #576574 74%
              );

              transition: 0.6s;
            }
          }
        }

        .location-box {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          // padding: 20px;
          @include mobile {
            flex-direction: column;
            width: 300px;
            justify-content: space-between;
          }
          .currentWeather {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            @include mobile {
              flex-direction: row;
              width: 100%;
            }
            img {
              @include mobile {
                width: 100px;
                // margin-left: 20px;
              }
            }
            .currentDegree {
              font-size: 36px;
              font-weight: 600;
              // color: #1283b8;
              color: rgb(107, 106, 106);
              text-shadow: 1px 1px rgb(231, 231, 231),
                -1px 1px rgb(231, 231, 231), 1px -1px rgb(231, 231, 231),
                -1px -1px rgb(231, 231, 231), 1px 1px 5px #555;
              line-height: 20px;
              position: relative;
              right: -50px;
              display: flex;
              flex-direction: row;
              align-items: center;
              @include mobile {
                font-size: 28px;
                margin: 0px;
                padding: 0px;
                right: 0px;
              }
              .currentDegreeBox {
                padding: 20px;
                @include mobile {
                  padding: 5px;
                }
                p {
                  margin: 10px 0;
                  font-size: 1em;
                }
                .max,
                .min {
                  margin: 0 0 15px 0;
                  font-size: 16px;
                  // color: $primarycolor;
                  color: rgb(124, 124, 124);
                  @include mobile {
                    font-size: 14px;
                  }
                }
              }
            }
          }

          .DateNLocation {
            .location {
              margin: 10px 0;
              color: rgb(107, 106, 106);
              text-shadow: 1px 1px rgb(231, 231, 231),
                -1px 1px rgb(231, 231, 231), 1px -1px rgb(231, 231, 231),
                -1px -1px rgb(231, 231, 231), 1px 1px 5px #555;
              // color: rgba(22, 151, 213, 0.8);
              font-size: 24px;
              font-weight: 600;
              // text-shadow: 3px 3px rgba(30, 30, 70, 0.5);
              @include mobile {
                font-size: 18px;
              }
            }

            .date {
              color: rgb(107, 106, 106);
              text-shadow: 1px 1px rgb(231, 231, 231),
                -1px 1px rgb(231, 231, 231), 1px -1px rgb(231, 231, 231),
                -1px -1px rgb(231, 231, 231), 1px 1px 5px #555;
              // color: rgba(22, 151, 213, 0.8);
              font-size: 20px;
              font-weight: 600;
              // text-shadow: 2px 2px rgba(30, 30, 70, 0.5);
              @include mobile {
                font-size: 18px;
              }
            }
          }
        }

        .weather-box {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: flex-start;
          margin: 0 20px;
          @include mobile {
            flex-direction: column;
          }
          .sevenDaysData {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: rgba(22, 151, 213, 0.5);
            background-color: rgba(255, 248, 236, 0.5);
            border-radius: 20px;
            width: 140px;
            padding: 10px;
            // color: white;
            color: #444;
            @include mobile {
              flex-direction: row;
              width: 100%;
              padding: 0px;
              margin: 5px;
            }
            img {
              @include mobile {
                width: 50px;
              }
            }
            .sevenDaysDate {
              font-size: 16px;
            }
            .sevenDaysDegree {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

#CTA {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .CTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .CTAgroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    @include mobile {
      flex-direction: column;
    }
    .CTAevent {
      // .h3 {
      //   font-size: 10px;
      // }
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 20px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      margin: 0 30px;
      width: 300px;
      height: 300px;
      border-radius: 20px;
      transition: 0.3s ease-in-out;

      p {
        font-size: 16px;
      }
      a {
        float: right;
        text-decoration: none;
      }
      img {
        width: 100px;
        height: 100px;
        margin: 20px auto;
      }
      &:hover {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        transform: translate(-0.2rem, -0.2rem);
        background-color: white;
      }
    }
    .CTAguide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      margin: 0 30px;
      width: 300px;
      height: 300px;
      border-radius: 20px;
      transition: 0.3s ease-in-out;
      .h3 {
        margin-top: 50px;
        // font-size: 2em;
      }
      p {
        font-size: 16px;
      }
      a {
        float: right;
        text-decoration: none;
      }
      img {
        width: 100px;
        height: 100px;
        margin: 20px auto;
      }
      &:hover {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        transform: translate(-0.2rem, -0.2rem);
        background-color: white;
      }
    }
  }
}

#community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 100px 0;
  @include mobile {
    margin: 0;
  }
  .communityDesc {
    width: 100%;
    height: 70vh;
    margin: 0;
    // background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../images/Home/oldieV5.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    @include mobile {
      margin: 0px;
      background-size: 600px;
    }
    .communityHeader {
      height: 55vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h3 {
        color: $fontcolor;
      }

      p {
        color: $fontcolor;
        font-size: 18px;
        @include mobile {
          padding: 0px 70px;
        }
      }

      button {
        @include mainBtn;
        background-color: #738bdc;
        background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
        border-radius: 10px;
        // @include mobile {
        //   margin: 0px;
        // }
      }
    }
  }
  .communityGroup {
    margin: 0px 0;
    .CardHeader {
      font-size: 1.75rem;
      margin: 50px 0 10px;
    }
    .biggroup {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1110px;
      // width: 75%;
      height: 50vh;
      @include mobile {
        width: 360px;
        flex-direction: column;
      }
      .group1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile {
          flex-direction: row;
        }
        .box1 {
          width: 270px;
          // height: 170px;
          // width: 18%;
          height: 24vh;
          background-color: gray;
          border-radius: 30px;
          position: relative;
          cursor: pointer;
          @include mobile {
            width: 175px;
          }
          .texthide {
            display: none;
            color: white;
            text-align: center;
            text-shadow: 2px 2px 2px 2px #000000;
          }
          img {
            display: block;
            // height: 170px;
            height: 24vh;
            // width: 18%;
            width: 270px;
            overflow: hidden;
            border-radius: 30px;
            object-fit: cover;
            @include mobile {
              width: 175px;
            }
            &:hover {
              filter: grayscale(50%);
              opacity: 0.4;
              transition-duration: 500ms;
            }

            &:hover + .texthide {
              display: block;
              font-size: 24px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .box2 {
        background-color: gray;
        border-radius: 30px;
        width: 270px;
        height: 50vh;
        position: relative;
        cursor: pointer;
        @include mobile {
          width: 350px;
          height: 25vh;
        }
        .texthide {
          display: none;
          color: white;
          text-shadow: 2px 2px 2px 2px #000000;
        }
        img {
          display: block;
          height: 50vh;
          width: 270px;
          overflow: hidden;
          border-radius: 30px;
          object-fit: cover;
          @include mobile {
            width: 350px;
            height: 25vh;
          }
          &:hover {
            filter: grayscale(50%);
            opacity: 0.4;
            transition-duration: 500ms;
          }

          &:hover + .texthide {
            display: block;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .group2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile {
          display: none;
        }
        .group3 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 550px;
          .box3 {
            width: 177px;
            // height: 170px;
            height: 24vh;
            background-color: gray;
            border-radius: 30px;
            position: relative;
            cursor: pointer;
            .texthide {
              display: none;
              color: white;
              text-shadow: 2px 2px 2px 2px #000000;
            }
            img {
              display: block;
              // height: 170px;
              height: 24vh;
              width: 177px;
              border-radius: 30px;
              object-fit: cover;
              &:hover {
                filter: grayscale(50%);
                opacity: 0.4;
                transition-duration: 500ms;
              }
              &:hover + .texthide {
                display: block;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }

        .group4 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .box4 {
            width: 270px;
            // height: 170px;
            height: 24vh;
            background-color: gray;
            border-radius: 30px;
            position: relative;
            cursor: pointer;
            .texthide {
              display: none;
              color: white;
              text-shadow: 2px 2px 2px 2px #000000;
            }
            img {
              display: block;
              height: 24vh;
              // height: 170px;
              width: 270px;
              overflow: hidden;
              border-radius: 30px;
              object-fit: cover;
              &:hover {
                filter: grayscale(50%);
                opacity: 0.4;
                transition-duration: 500ms;
              }
              &:hover + .texthide {
                display: block;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }
  .communityPost {
    @include mobile {
      margin: auto;
    }
    .CardHeader {
      font-size: 1.75rem;
      margin: 50px 0 10px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 1110px;
      gap: 2rem;
      margin-top: 10px;
      @include mobile {
        width: 360px;
        gap: 1rem;
      }
      .card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: clamp(20rem, calc(20rem + 2vw), 18rem);
        overflow: hidden;
        border-radius: 2em;
        background: #ffffff;
        // background: linear-gradient(to right, #ffffff, #f7f5f3);
        @include mobile {
          // flex-direction: row;
        }
        &:hover {
          box-shadow: $cardShadow;
        }

        .card__header {
          .card__image {
            max-width: 100%;
            display: block;
            object-fit: cover;
          }
        }

        .card__body {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          & > div {
            pre {
              margin: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              white-space: normal;
              margin-bottom: 8px;
              @include mobile {
                font-size: 20px;
                -webkit-line-clamp: 2;
              }
            }
          }
          .tag {
            align-self: flex-start;
            padding: 0.25em 0.75em;
            border-radius: 1em;
            font-size: 0.9rem;
          }

          .tag + .tag {
            margin-left: 0.5em;
          }

          .tag-blue {
            background: #56ccf2;
            background: linear-gradient(to bottom, #2f80ed, #56ccf2);
            color: #fafafa;
          }

          // h4 {
          //   font-size: 16px;
          //   font-weight: 600;
          // }

          // p {
          //   font-size: 16px;
          //   font-weight: 300;
          //   line-height: 1.5;
          // }
        }

        .card__footer {
          display: flex;
          padding: 1rem;
          margin-top: auto;
          @include mobile {
            flex-direction: column;
          }
          .user {
            display: flex;
            gap: 0.5rem;
          }

          .user__image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          small {
            color: #666;
          }
        }
      }
    }
  }
}

/*-------------MainEnd------------ */

/*-------------Footer------------- */
#footer {
  height: 40vh;
  width: 100%;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  @include mobile {
    height: 30vh;
  }

  .ToTop {
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: white;
    border-radius: 50px;
    background-color: $primarycolor;
    border: none;
    // margin: 0px 0px 50px;
    position: absolute;
    // bottom: 280px;
    top:-20px;
    @include mobile {
      position: absolute;
      right: 10px;
      // bottom: 50px;
    }
    svg {
      vertical-align: baseline;
    }
  }

  .footer {
    width: 80%;
    margin: 0px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: flex-start;
    @include mobile {
      flex-direction: column;
      height: 20vh;
    }
    .followingUs {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 300px;
      @include mobile {
        align-items: center;
      }
      p {
        font-size: 16px;
        color: $bgcolor;
        margin: 0;
        font-weight: 400;
      }
      .followingIcon {
        float: left;
        font-size: 30px;
        color: #d3cfcf;
        svg {
          margin: 10px 20px 10px 0;
        }
      }
    }
    .AboutJourney {
      margin: 10px 30px;
      p {
        margin: 0;
        font-size: 16px;
        color: #d3cfcf;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 2px;
      }
      .title {
        color: rgb(168, 168, 168);
      }
      @include mobile {
        display: none;
      }
    }
    .PersonalSupport {
      margin: 10px 30px;
      .title {
        color: rgb(168, 168, 168);
      }
      p {
        margin: 0;
        font-size: 16px;
        color: #d3cfcf;
        font-weight: 400;
        line-height: 30px;
      }
      @include mobile {
        display: none;
      }
    }
  }
  hr {
    border-top: 5px solid white;
  }
  .copyright {
    text-align: center;
    color: #f8f8f8;
    font-weight: 300;
    font-size: 16px;
  }
}

#carAnime {
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: #eae9e9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0px 70px;

  .animeDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
    h3,
    h6 {
      color: $fontcolor;
    }
    button {
      background-color: #ffae18;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 10px;
      font-size: 16px;
      margin-top: 5px;
    }
  }

  .anime {
    .palmTree {
      position: absolute;
      right: 150px;
      bottom: 0px;
    }

    .moon {
      position: absolute;
      width: 150px;
      right: 600px;
      bottom: 170px;
      // z-index: 200;
    }

    .CarWheel {
      position: absolute;
      bottom: -50px;
      // width: 150px;

      .wheel1 {
        position: absolute;
        z-index: 500;
        // right: 900px;
        bottom: 30px;
        left: -75px;
      }
      .wheel2 {
        position: absolute;
        z-index: 500;
        // right: 900px;
        bottom: 30px;
        left: 85px;
      }
      .car {
        position: absolute;
        bottom: -30px;
        right: -200px;
        z-index: 50;
      }
    }
  }
}
/*-------------FooterEnd---------- */
