* {
  margin: 0;
  padding: 0;
  font-family: Microsoft JhengHei, sans-serif;
  letter-spacing: 0.02em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-------------header------------- */
/*-------------headerEnd---------- */
/*-------------Main--------------- */
#mainSection {
  width: 100%;
  height: 100vh;
  background-image: url("../../../images/main/background.png");
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainSection .women {
  position: absolute;
  left: 13%;
  top: 22%;
}

#mainSection .women .compass {
  position: absolute;
  left: -60px;
  top: 400px;
}

#mainSection .women .camera {
  position: absolute;
  left: 330px;
  top: 10px;
}

#mainSection .women .plane1 {
  position: absolute;
  left: -5px;
  top: 360px;
}

#mainSection .women .plane2 {
  position: absolute;
  left: 550px;
  top: 210px;
}

#mainSection .women .star1 {
  position: absolute;
  left: 200px;
  top: 40px;
}

#mainSection .women .star2 {
  position: absolute;
  left: 180px;
  top: 50px;
}

#mainSection .women .track1 {
  position: absolute;
  left: -15px;
  top: 150px;
}

#mainSection .women .track2 {
  position: absolute;
  left: 500px;
  top: 130px;
  z-index: 10;
}

#mainSection .mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 150px;
  right: 250px;
}

#mainSection .mainSection .explore {
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: #116f9c;
}

#mainSection .mainSection .meet {
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: #1697d5;
}

#mainSection .mainSection button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #1697d5;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: #1697d5;
  z-index: 1;
  background-color: white;
  margin-top: 20px;
}

#mainSection .mainSection button::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
          transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

#mainSection .mainSection button::after {
  content: "";
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
          transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #1697d5;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

#mainSection .mainSection button:hover {
  color: #ffffff;
  border: 1px solid #1697d5;
}

#mainSection .mainSection button:hover::before {
  top: -35%;
  background-color: #1697d5;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#mainSection .mainSection button:hover::after {
  top: -45%;
  background-color: #1697d5;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#searchBar {
  width: 100%;
  margin: 50px 0;
}

#searchBar .searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  background-image: url("../../../images/mainpagebgv4.png");
  background-position: center;
  background-repeat: no-repeat;
}

#searchBar .searchBar h3 {
  font-size: 24px;
  color: #f8f8f8;
  text-shadow: 2px 2px 2px #264148;
}

#searchBar .searchBar h1 {
  font-size: 35px;
  color: #f8f8f8;
  text-shadow: 2px 2px 2px #264148;
}

#searchBar .searchBar .search-container {
  margin-top: 30px;
  background: #fff;
  border-radius: 10px;
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: none;
}

#searchBar .searchBar .search-container .ant-select {
  border: none;
  font-size: 20px;
}

#searchBar .searchBar .search-container .ant-select .ant-select-selector {
  height: 39px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchBar .searchBar .search-container .ant-picker .ant-picker-input input {
  font-size: 20px;
}

#searchBar .searchBar .search-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1697d5;
  font-size: 26px;
  padding: 0 15px;
  color: white;
  height: 50px;
  border: 1px solid #1697d5;
  border-radius: 0 10px 10px 0;
}

#trendingCity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
}

#trendingCity .cityShortcut .CardHeader {
  font-size: 1.75rem;
  padding: 50px 0 10px;
}

#trendingCity .cityShortcut .cityboxGroup {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#trendingCity .cityShortcut .cityboxGroup .citybox {
  width: 177px;
  height: 30vh;
  background-color: gray;
  border-radius: 10px;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#trendingCity .cityShortcut .cityboxGroup .citybox:hover {
  opacity: 0.6;
  -webkit-filter: saturate(1.5);
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-transform: translate(-0.2rem, -0.2rem);
          transform: translate(-0.2rem, -0.2rem);
  background-color: white;
}

#trendingCity .cityShortcut .cityboxGroup .citybox .citypic {
  width: 177px;
  height: 30vh;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

#trendingCity .cityShortcut .cityboxGroup .citybox p {
  position: absolute;
  bottom: 1px;
  left: 16px;
  color: #ffffff;
  font-size: 24px;
  text-shadow: 2px 2px 2px #264148;
}

#Recommandation,
#trendingEvent,
.weatherCard {
  width: 1100px;
  margin: auto;
  margin-top: 50px;
}

#Recommandation .CardHeader,
#trendingEvent .CardHeader,
.weatherCard .CardHeader {
  margin: 50px 0 0px 0;
}

#Recommandation .test,
#trendingEvent .test,
.weatherCard .test {
  width: 1110px;
  margin: auto;
}

#Recommandation .test .slick-slider .slick-list,
#trendingEvent .test .slick-slider .slick-list,
.weatherCard .test .slick-slider .slick-list {
  padding: 20px 0;
}

#Recommandation .test .slick-slider .slick-prev,
#trendingEvent .test .slick-slider .slick-prev,
.weatherCard .test .slick-slider .slick-prev {
  width: 50px;
  height: 50px;
  left: -60px;
  z-index: 1;
}

#Recommandation .test .slick-slider .slick-prev::before,
#trendingEvent .test .slick-slider .slick-prev::before,
.weatherCard .test .slick-slider .slick-prev::before {
  font-size: 50px;
  color: #eceaea;
  opacity: 1;
  top: 5px;
}

#Recommandation .test .slick-slider .slick-next,
#trendingEvent .test .slick-slider .slick-next,
.weatherCard .test .slick-slider .slick-next {
  width: 50px;
  height: 50px;
  right: -40px;
  z-index: 1;
}

#Recommandation .test .slick-slider .slick-next::before,
#trendingEvent .test .slick-slider .slick-next::before,
.weatherCard .test .slick-slider .slick-next::before {
  font-size: 50px;
  color: #eceaea;
  opacity: 1;
}

#Recommandation .test .slick-slider .eventCard,
#trendingEvent .test .slick-slider .eventCard,
.weatherCard .test .slick-slider .eventCard {
  overflow-x: hidden;
  white-space: nowrap;
  border-radius: 10px;
  padding: 20px;
  min-width: 16.3em;
  margin-right: 20px;
  background-color: #fff;
  cursor: pointer;
  scroll-behavior: smooth;
}

#Recommandation .test .slick-slider .eventCard:hover,
#trendingEvent .test .slick-slider .eventCard:hover,
.weatherCard .test .slick-slider .eventCard:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#Recommandation .test .slick-slider .eventCard .eventCard__header,
#trendingEvent .test .slick-slider .eventCard .eventCard__header,
.weatherCard .test .slick-slider .eventCard .eventCard__header {
  position: relative;
  height: 160px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}

#Recommandation .test .slick-slider .eventCard .eventCard__header .eventCard__icon,
#trendingEvent .test .slick-slider .eventCard .eventCard__header .eventCard__icon,
.weatherCard .test .slick-slider .eventCard .eventCard__header .eventCard__icon {
  border-radius: 10px;
  position: absolute;
  display: block;
  min-width: 16.3em;
  height: 160px;
}

#Recommandation .test .slick-slider .eventCard .eventCard__body,
#trendingEvent .test .slick-slider .eventCard .eventCard__body,
.weatherCard .test .slick-slider .eventCard .eventCard__body {
  height: 20px;
}

#Recommandation .test .slick-slider .eventCard .eventCard__body .eventTime,
#trendingEvent .test .slick-slider .eventCard .eventCard__body .eventTime,
.weatherCard .test .slick-slider .eventCard .eventCard__body .eventTime {
  color: gray;
  font-size: 14px;
}

#Recommandation .test .slick-slider .eventCard .eventCard__body .eventCard__title,
#trendingEvent .test .slick-slider .eventCard .eventCard__body .eventCard__title,
.weatherCard .test .slick-slider .eventCard .eventCard__body .eventCard__title {
  line-height: 25px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

#Recommandation .test .slick-slider .eventCard .eventCard__body p,
#trendingEvent .test .slick-slider .eventCard .eventCard__body p,
.weatherCard .test .slick-slider .eventCard .eventCard__body p {
  margin: 5px 0 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

#Recommandation .test .slick-slider .eventCard .eventCard__body .eventCard__duration,
#trendingEvent .test .slick-slider .eventCard .eventCard__body .eventCard__duration,
.weatherCard .test .slick-slider .eventCard .eventCard__body .eventCard__duration {
  color: #1697d5;
  font-size: 14px;
  font-weight: 300;
}

#Recommandation .test .slick-slider .eventCard .eventCard__body span,
#trendingEvent .test .slick-slider .eventCard .eventCard__body span,
.weatherCard .test .slick-slider .eventCard .eventCard__body span {
  float: right;
  margin-bottom: 5px;
}

#Recommandation .test .slick-slider .eventCard .eventCard__body span i,
#trendingEvent .test .slick-slider .eventCard .eventCard__body span i,
.weatherCard .test .slick-slider .eventCard .eventCard__body span i {
  padding-right: 5px;
  color: #1697d5;
}

#trendingGuide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

#trendingGuide .GuideCardGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#trendingGuide .GuideCardGroup .CardHeader {
  font-size: 1.75rem;
  padding: 50px 0 10px;
}

#trendingGuide .GuideCardGroup .GuideCard {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 {
  position: relative;
  overflow: hidden;
  width: 355px;
  color: #264148;
  text-align: left;
  line-height: 1.4em;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 .imgBG {
  height: 150px;
  width: 100%;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption {
  width: 100%;
  background-color: white;
  padding: 25px;
  position: relative;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption::before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 400px;
  border-color: transparent transparent transparent white;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #264148;
  color: #264148;
  font-size: 0.7em;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption a:hover {
  opacity: 1;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption .follow {
  border-color: #2980b9;
  color: #2980b9;
  display: block;
  margin: 20px auto 0 auto;
  font-size: 16px;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption h2 {
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 16px;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption h2 span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #2980b9;
  float: right;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption h2 span i {
  margin-right: 5px;
}

#trendingGuide .GuideCardGroup .GuideCard .snip1336 figcaption p {
  margin: 0 0 10px;
  font-size: 1em;
  letter-spacing: 1px;
  opacity: 0.8;
}

#weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

#weather .weatherAPI {
  margin-top: 100px;
  width: 1100px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#weather .weatherAPI .APIweather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#weather .weatherAPI .APIweather .weatherCity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#weather .weatherAPI .APIweather .weatherCity .chip {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#weather .weatherAPI .APIweather .weatherDetails {
  width: 1100px;
  border-radius: 20px;
  background-color: #aecad6;
  background-image: linear-gradient(315deg, #aecad6 0%, #b8d3fe 74%);
  padding-bottom: 30px;
}

#weather .weatherAPI .APIweather .weatherDetails .location-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather .weatherAPI .APIweather .weatherDetails .location-box .currentWeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather .weatherAPI .APIweather .weatherDetails .location-box .currentWeather .currentDegree {
  font-size: 36px;
  font-weight: 600;
  color: #1283b8;
  line-height: 20px;
  position: relative;
  right: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather .weatherAPI .APIweather .weatherDetails .location-box .currentWeather .currentDegree .currentDegreeBox {
  padding: 20px;
}

#weather .weatherAPI .APIweather .weatherDetails .location-box .currentWeather .currentDegree .currentDegreeBox p {
  margin: 10px 0;
}

#weather .weatherAPI .APIweather .weatherDetails .location-box .currentWeather .currentDegree .currentDegreeBox .max,
#weather .weatherAPI .APIweather .weatherDetails .location-box .currentWeather .currentDegree .currentDegreeBox .min {
  margin: 0 0 15px 0;
  font-size: 16px;
  color: #1697d5;
}

#weather .weatherAPI .APIweather .weatherDetails .location-box .DateNLocation .location {
  margin: 10px 0;
  color: rgba(22, 151, 213, 0.8);
  font-size: 24px;
  font-weight: 600;
}

#weather .weatherAPI .APIweather .weatherDetails .location-box .DateNLocation .date {
  color: rgba(22, 151, 213, 0.8);
  font-size: 20px;
  font-weight: 600;
}

#weather .weatherAPI .APIweather .weatherDetails .weather-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 20px;
}

#weather .weatherAPI .APIweather .weatherDetails .weather-box .sevenDaysData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(22, 151, 213, 0.5);
  border-radius: 20px;
  width: 140px;
  padding: 10px;
  color: white;
}

#weather .weatherAPI .APIweather .weatherDetails .weather-box .sevenDaysData .sevenDaysDate {
  font-size: 16px;
}

#weather .weatherAPI .APIweather .weatherDetails .weather-box .sevenDaysData .sevenDaysDegree {
  font-size: 16px;
}

#CTA {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#CTA .CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#CTA .CTAgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#CTA .CTAgroup .CTAevent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 0 30px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#CTA .CTAgroup .CTAevent .h3 {
  font-size: 2em;
}

#CTA .CTAgroup .CTAevent p {
  font-size: 16px;
}

#CTA .CTAgroup .CTAevent a {
  float: right;
  text-decoration: none;
}

#CTA .CTAgroup .CTAevent img {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

#CTA .CTAgroup .CTAevent:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-transform: translate(-0.2rem, -0.2rem);
          transform: translate(-0.2rem, -0.2rem);
  background-color: white;
}

#CTA .CTAgroup .CTAguide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 0 30px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#CTA .CTAgroup .CTAguide .h3 {
  margin-top: 50px;
}

#CTA .CTAgroup .CTAguide p {
  font-size: 16px;
}

#CTA .CTAgroup .CTAguide a {
  float: right;
  text-decoration: none;
}

#CTA .CTAgroup .CTAguide img {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

#CTA .CTAgroup .CTAguide:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-transform: translate(-0.2rem, -0.2rem);
          transform: translate(-0.2rem, -0.2rem);
  background-color: white;
}

#community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 100px 0;
}

#community .communityDesc {
  width: 100%;
  height: 70vh;
  background-color: #a6cee0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#community .communityDesc .communityHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1100px;
  height: 60vh;
  background-image: url("../../../images/gatherv3.png");
  background-position: right;
  background-repeat: no-repeat;
}

#community .communityDesc .communityHeader h1 {
  font-size: 4rem;
  text-shadow: 6px 6px #1697d5;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-color: #264148;
  -moz-text-stroke-color: #264148;
}

#community .communityDesc .communityHeader h3 {
  color: #dceff9;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: -0.0075em 0.0075em 0 #f1f9fc, 0.005em 0.005em 0 #a2d5ee, 0.01em 0.01em 0 #a6d7ef, 0.015em 0.015em #abdaf0, 0.02em 0.02em 0 #b0dcf1, 0.025em 0.025em 0 #b4def2, 0.03em 0.03em 0 #b9e0f2, 0.035em 0.035em 0 #bee2f3;
}

#community .communityDesc .communityHeader button {
  margin-top: 30px;
  font-size: 20px;
  background-color: #1697d5;
  padding: 8px 20px;
  border: 1px white solid;
  color: white;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}

#community .communityGroup {
  margin: 30px 0;
}

#community .communityGroup .CardHeader {
  font-size: 1.75rem;
  margin: 50px 0 10px;
}

#community .communityGroup .biggroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  height: 50vh;
}

#community .communityGroup .biggroup .group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#community .communityGroup .biggroup .group1 .box1 {
  width: 270px;
  height: 170px;
  background-color: gray;
  border-radius: 30px;
  position: relative;
}

#community .communityGroup .biggroup .group1 .box1 .texthide {
  display: none;
  color: white;
  text-shadow: 2px 2px 2px 2px #000000;
}

#community .communityGroup .biggroup .group1 .box1 img {
  display: block;
  height: 170px;
  width: 270px;
  overflow: hidden;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

#community .communityGroup .biggroup .group1 .box1 img:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  opacity: 0.4;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#community .communityGroup .biggroup .group1 .box1 img:hover + .texthide {
  display: block;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#community .communityGroup .biggroup .box2 {
  background-color: gray;
  border-radius: 30px;
  width: 270px;
  height: 50vh;
  position: relative;
}

#community .communityGroup .biggroup .box2 .texthide {
  display: none;
  color: white;
  text-shadow: 2px 2px 2px 2px #000000;
}

#community .communityGroup .biggroup .box2 img {
  display: block;
  height: 50vh;
  width: 270px;
  overflow: hidden;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

#community .communityGroup .biggroup .box2 img:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  opacity: 0.4;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#community .communityGroup .biggroup .box2 img:hover + .texthide {
  display: block;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#community .communityGroup .biggroup .group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#community .communityGroup .biggroup .group2 .group3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
}

#community .communityGroup .biggroup .group2 .group3 .box3 {
  width: 177px;
  height: 170px;
  background-color: gray;
  border-radius: 30px;
  position: relative;
}

#community .communityGroup .biggroup .group2 .group3 .box3 .texthide {
  display: none;
  color: white;
  text-shadow: 2px 2px 2px 2px #000000;
}

#community .communityGroup .biggroup .group2 .group3 .box3 img {
  display: block;
  height: 170px;
  width: 177px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

#community .communityGroup .biggroup .group2 .group3 .box3 img:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  opacity: 0.4;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#community .communityGroup .biggroup .group2 .group3 .box3 img:hover + .texthide {
  display: block;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#community .communityGroup .biggroup .group2 .group4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#community .communityGroup .biggroup .group2 .group4 .box4 {
  width: 270px;
  height: 170px;
  background-color: gray;
  border-radius: 30px;
  position: relative;
}

#community .communityGroup .biggroup .group2 .group4 .box4 .texthide {
  display: none;
  color: white;
  text-shadow: 2px 2px 2px 2px #000000;
}

#community .communityGroup .biggroup .group2 .group4 .box4 img {
  display: block;
  height: 170px;
  width: 270px;
  overflow: hidden;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

#community .communityGroup .biggroup .group2 .group4 .box4 img:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  opacity: 0.4;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#community .communityGroup .biggroup .group2 .group4 .box4 img:hover + .texthide {
  display: block;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#community .communityPost .CardHeader {
  font-size: 1.75rem;
  margin: 50px 0 10px;
}

#community .communityPost .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1110px;
  gap: 2rem;
}

#community .communityPost .container .card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 18rem);
  overflow: hidden;
  border-radius: 2em;
  background: #ffffff;
}

#community .communityPost .container .card:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#community .communityPost .container .card .card__header .card__image {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#community .communityPost .container .card .card__body {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

#community .communityPost .container .card .card__body .tag {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.9rem;
}

#community .communityPost .container .card .card__body .tag + .tag {
  margin-left: 0.5em;
}

#community .communityPost .container .card .card__body .tag-blue {
  background: #56ccf2;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f80ed), to(#56ccf2));
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

#community .communityPost .container .card .card__body .tag-brown {
  background: #d1913c;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd194), to(#d1913c));
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

#community .communityPost .container .card .card__body .tag-red {
  background: #cb2d3e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef473a), to(#cb2d3e));
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

#community .communityPost .container .card .card__body h4 {
  font-size: 16px;
  font-weight: 600;
}

#community .communityPost .container .card .card__body p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

#community .communityPost .container .card .card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

#community .communityPost .container .card .card__footer .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

#community .communityPost .container .card .card__footer .user__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#community .communityPost .container .card .card__footer small {
  color: #666;
}

/*-------------MainEnd------------ */
/*-------------Footer------------- */
footer {
  height: 30vh;
  width: 100%;
  background-color: #264148;
}

/*-------------FooterEnd---------- */
/*# sourceMappingURL=mainPage.css.map */