$primarycolor: #58a8bd;
$secondarycolor: #f08a12;
$bgcolor: #f8f8f8;
$fontcolor: #264148;

$font: Microsoft JhengHei, sans-serif;

@mixin mainBtn {
    font-size: 20px;
    border-radius: 10px;
    background-color: $primarycolor;
    padding: 8px 20px;
    border: 2px white solid;
    color: white;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}

@mixin minorBtn {
    font-size: 16px;
    border-radius: 30px;
    background-color: white;
    color: $secondarycolor;
    padding: 8px 20px;
    border: 2px $secondarycolor solid;
}

