.guideJoin {
  color: #264148;
}

.guideJoin .nextPage {
  position: absolute;
  bottom: -20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #264148;
  font: normal 600 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding-top: 70px;
  font-size: 15px;
}

.guideJoin .nextPage:hover {
  opacity: 0.6;
  color: #264148;
  text-decoration: none;
}

.guideJoin .nextPage span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-left: -8px;
  border-left: 2px solid #264148;
  border-bottom: 2px solid #264148;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
          animation: sdb 1.5s infinite;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-30px, 30px);
            transform: rotate(-45deg) translate(-30px, 30px);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-30px, 30px);
            transform: rotate(-45deg) translate(-30px, 30px);
    opacity: 0;
  }
}

.guideJoin .guidePagehr {
  position: absolute;
  width: 2px;
  height: 363vh;
  border: 1px #264148 solid;
  background-color: #264148;
  border-radius: 2px;
  left: 295px;
  top: 190px;
}

.guideJoin #section0 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.guideJoin #section0 .section0Area .leftTitle .joinUs {
  position: absolute;
  font-size: 30px;
  left: 240px;
  top: 130px;
  color: #264148;
  font-weight: 600;
}

.guideJoin #section0 .section0Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 25px;
  left: 285px;
  top: 185px;
  color: #264148;
}

.guideJoin #section0 .section0Area .section0Content {
  width: 650px;
  height: 450px;
  position: absolute;
  top: 200px;
  left: 450px;
}

.guideJoin #section0 .section0Area .section0Content .guideNarrative {
  position: absolute;
  font-size: 22px;
  color: #264148;
  top: 5px;
  left: 25px;
}

.guideJoin #section0 .section0Area .section0Content .guideNarrative p {
  margin-bottom: 5px;
  font-weight: bold;
}

.guideJoin #section0 .section0Area .section0Content .guideLvChartArea {
  position: relative;
  margin-top: 90px;
}

.guideJoin #section0 .section0Area .section0Content .guideLvChartArea .guideLevelImg {
  position: absolute;
  width: 750px;
  top: 20px;
  left: -40px;
}

.guideJoin #section01 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.guideJoin #section01 .section01Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 25px;
  left: 285px;
  top: 120px;
  color: #264148;
}

.guideJoin #section01 .section01Area .section01Content {
  width: 650px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 430px;
}

.guideJoin #section01 .section01Area .section01Content .setIntroduction {
  position: relative;
  height: 65px;
}

.guideJoin #section01 .section01Area .section01Content .setIntroduction p {
  left: -1px;
  font-size: 20px;
  display: inline;
  position: absolute;
  font-weight: bold;
}

.guideJoin #section01 .section01Area .section01Content .setIntroduction textarea {
  font-size: 16px;
  width: 525px;
  padding: 8px;
  height: 68px;
  resize: none;
  border-radius: 10px;
  border: 1px #f8f8f8 solid;
  -webkit-box-shadow: 1px 1px 3px #d8d8d8;
          box-shadow: 1px 1px 3px #d8d8d8;
  position: absolute;
  left: 120px;
  background-color: rgba(255, 255, 255, 0.5);
}

.guideJoin #section01 .section01Area .section01Content .acceptNum {
  margin-top: 40px;
  position: relative;
}

.guideJoin #section01 .section01Area .section01Content .acceptNum p {
  font-size: 20px;
  display: inline;
  font-weight: bold;
}

.guideJoin #section01 .section01Area .section01Content .acceptNum div {
  position: absolute;
  display: inline;
  left: 120px;
}

.guideJoin #section01 .section01Area .section01Content .acceptNum div .quantity {
  display: inline;
  width: 40px;
  font-size: 18px;
  margin-left: -80px;
  border-bottom: 1px #264148 solid;
  text-align: center;
}

.guideJoin #section01 .section01Area .section01Content .acceptNum div .numBtn {
  font-size: 17px;
  border-radius: 10px;
  padding: 2px 5px;
  width: 25px;
  text-align: center;
  border: 1px #f8f8f8 solid;
  -webkit-box-shadow: 1px 1px 3px #c7c7c7;
          box-shadow: 1px 1px 3px #c7c7c7;
  margin-right: 70px;
  background-color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.guideJoin #section01 .section01Area .section01Content .acceptNum div .numBtn:hover {
  -webkit-box-shadow: 3px 3px 5px #c7c7c7;
          box-shadow: 3px 3px 5px #c7c7c7;
}

.guideJoin #section01 .section01Area .section01Content .acceptGender {
  margin-top: 35px;
  position: relative;
}

.guideJoin #section01 .section01Area .section01Content .acceptGender p {
  font-size: 20px;
  display: inline;
  font-weight: bold;
}

.guideJoin #section01 .section01Area .section01Content .acceptGender span {
  position: absolute;
  left: 120px;
  font-size: 20px;
}

.guideJoin #section01 .section01Area .section01Content .acceptGender span label {
  margin-right: 40px;
}

.guideJoin #section01 .section01Area .section01Content .transportation {
  margin-top: 35px;
  position: relative;
}

.guideJoin #section01 .section01Area .section01Content .transportation p {
  font-size: 20px;
  display: inline;
  font-weight: bold;
}

.guideJoin #section01 .section01Area .section01Content .transportation span {
  position: absolute;
  left: 120px;
  font-size: 20px;
}

.guideJoin #section01 .section01Area .section01Content .transportation span label {
  margin-right: 20px;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg {
  margin-top: 35px;
  position: relative;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg p {
  font-size: 20px;
  display: inline;
  font-weight: bold;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg span {
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  left: 120px;
  top: 3px;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg button {
  position: absolute;
  left: 410px;
  background-color: #1697d5;
  color: #fff;
  border: 1px solid #1697d5;
  border-radius: 5px;
  font-weight: 400;
  padding: 3px;
  cursor: pointer;
  font-size: 16px;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg button:hover {
  -webkit-box-shadow: 2px 2px 3px #858585;
          box-shadow: 2px 2px 3px #858585;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg div #append {
  border-radius: 10px;
  width: 600px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg div #append .uploadCover {
  position: relative;
  width: 150px;
  height: 110px;
  text-align: center;
  cursor: pointer;
  background: #eeeeee8e;
  border: 5px #c0c0c08e solid;
  border-radius: 10px;
  margin-right: 20px;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg div #append .uploadCover .uploadInput {
  display: none;
  width: 140px;
  height: 100px;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg div #append .uploadCover .uploadIcon {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1697d5;
  border-radius: 50%;
  background-color: #eeeeeeb6;
  font-size: 30px;
  width: 50px;
  height: 50px;
}

.guideJoin #section01 .section01Area .section01Content .uploadImg div #append .uploadCover img {
  width: 140px;
  height: 100px;
  border-radius: 5px;
}

.guideJoin #section02 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.guideJoin #section02 .section02Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 25px;
  left: 285px;
  top: 120px;
  color: #264148;
}

.guideJoin #section02 .section02Area .section02Content {
  width: 650px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 430px;
}

.guideJoin #section02 .section02Area .section02Content .setCity {
  position: relative;
}

.guideJoin #section02 .section02Area .section02Content .setCity p {
  font-size: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
}

.guideJoin #section02 .section02Area .section02Content .setCity .guideCityInput {
  position: absolute;
  left: 115px;
  top: -5px;
  font-size: 20px;
}

.guideJoin #section02 .section02Area .section02Content .setCity .ant-select-selector {
  border-radius: 5px;
}

.guideJoin #section02 .section02Area .section02Content .setCity .ant-select-selector .ant-select-selection-placeholder {
  font-size: 20px;
  color: #747474;
  margin-left: -5px;
}

.guideJoin #section02 .section02Area .section02Content .setCity .anticon-down svg {
  width: 15px;
  height: 15px;
  color: #6e6e6e;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace {
  margin-top: 25px;
  position: relative;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace p {
  font-size: 20px;
  display: inline;
  font-weight: bold;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace #placeInput {
  position: absolute;
  left: 115px;
  font-size: 20px;
  border: none;
  -webkit-box-shadow: 1px 1px 3px #8585858f;
          box-shadow: 1px 1px 3px #8585858f;
  border-radius: 5px;
  padding: 3px 0 3px 8px;
  margin-top: -2px;
  width: 220px;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace .placeBtn {
  position: absolute;
  left: 360px;
  background-color: #1697d5;
  color: #fff;
  border: 1px solid #1697d5;
  border-radius: 5px;
  font-weight: 400;
  padding: 3px;
  cursor: pointer;
  font-size: 16px;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace .placeBtn:hover {
  -webkit-box-shadow: 2px 2px 3px #858585;
          box-shadow: 2px 2px 3px #858585;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace span {
  font-size: 16px;
  margin-left: 335px;
  font-weight: normal;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace #placeInputContainer {
  position: absolute;
  left: 77px;
  border-radius: 10px;
  width: 525px;
  height: 110px;
  margin: 30px 0 0 37px;
  border: 1px #858585 dashed;
  padding: 10px;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace #placeInputContainer span {
  margin: 0px 20px 10px 0;
  padding: 0 10px 0 13px;
  border-radius: 12px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace #placeInputContainer span .placeContent {
  border: none;
  cursor: default;
  color: #264148;
  font-size: 20px;
  text-align: center;
  overflow: visible;
  background: none;
  font-weight: 550;
}

.guideJoin #section02 .section02Area .section02Content .recommendPlace #placeInputContainer span .placeDelete {
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: transparent;
  color: #264148;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant {
  margin-top: 180px;
  position: relative;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant p {
  font-size: 20px;
  display: inline;
  font-weight: bold;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant #restaurantInput {
  position: absolute;
  left: 115px;
  font-size: 20px;
  border: none;
  -webkit-box-shadow: 1px 1px 3px #8585858f;
          box-shadow: 1px 1px 3px #8585858f;
  border-radius: 5px;
  padding: 3px 0 3px 8px;
  margin-top: -2px;
  width: 220px;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant .restaurantBtn {
  position: absolute;
  left: 360px;
  background-color: #1697d5;
  color: #fff;
  border: 1px solid #1697d5;
  border-radius: 5px;
  font-weight: 400;
  padding: 3px;
  cursor: pointer;
  font-size: 16px;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant .restaurantBtn:hover {
  -webkit-box-shadow: 2px 2px 3px #858585;
          box-shadow: 2px 2px 3px #858585;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant span {
  font-size: 16px;
  margin-left: 335px;
  font-weight: normal;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant #restaurantInputContainer {
  position: absolute;
  left: 77px;
  border-radius: 10px;
  width: 525px;
  height: 110px;
  margin: 30px 0 0 37px;
  border: 1px #858585 dashed;
  padding: 10px;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant #restaurantInputContainer span {
  margin: 0px 20px 10px 0;
  padding: 0 10px 0 13px;
  border-radius: 12px;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 3px #858585;
          box-shadow: 1px 1px 3px #858585;
  background-color: rgba(255, 255, 255, 0.7);
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant #restaurantInputContainer span .restaurantContent {
  border: none;
  cursor: default;
  color: #264148;
  font-size: 20px;
  text-align: center;
  overflow: visible;
  background: none;
  font-weight: 550;
}

.guideJoin #section02 .section02Area .section02Content .recommendRestaurant #restaurantInputContainer span .restaurantDelete {
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: transparent;
  color: #264148;
}

.guideJoin #section03 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.guideJoin #section03 .section03Area .leftTitle .pageTitle {
  position: absolute;
  font-size: 25px;
  left: 285px;
  top: 120px;
  color: #264148;
}

.guideJoin #section03 .section03Area .leftTitle .pageTitle .choiceDate {
  font-size: 20px;
  margin-left: 10px;
}

.guideJoin #section03 .section03Area .section03Content {
  width: 700px;
  height: 440px;
  position: absolute;
  top: 210px;
  left: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px #c0c0c093;
          box-shadow: 2px 2px 5px #c0c0c093;
  padding: 20px;
  background-color: #ffffff7a;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig div > div.fc-view-harness.fc-view-harness-active > div > table {
  border: none;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig div > div.fc-view-harness.fc-view-harness-active > div > table td {
  border: none;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig div > div.fc-view-harness.fc-view-harness-active > div > table thead > tr > th {
  border: none;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig div > div.fc-view-harness.fc-view-harness-active > div > table thead > tr > th th {
  border: none;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig div > div.fc-view-harness.fc-view-harness-active > div > table thead > tr > th td {
  border: none;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-daygrid-day-bg > div > div {
  border-radius: 50%;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig #fc-dom-2 {
  font-size: 26px;
  font-weight: 600;
  color: #264148;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-daygrid-day-events {
  display: none;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  width: 93%;
  margin: 5px auto 20px;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr div:nth-child(1) > button {
  font-size: 17px;
  height: 30px;
  padding: 3px 8px;
  border: none;
  font-weight: 600;
  background-color: #6bc1e9;
  background-image: linear-gradient(315deg, #6bc1e9 0%, #80ced7 74%);
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr div:nth-child(1) > button:hover {
  -webkit-box-shadow: 2px 2px 3px #85858593;
          box-shadow: 2px 2px 3px #85858593;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-daygrid-day-bg > div > div {
  margin: 5% 20%;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-daygrid-day-top {
  margin-top: 5px;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-daygrid-day-top .fc-daygrid-day-number {
  color: #264148;
  font-size: 18px;
  font-weight: 600;
  margin: 8px auto;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-col-header-cell-cushion {
  color: #264148;
  cursor: default;
  font-size: 18px;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-col-header-cell-cushion:hover {
  text-decoration: none;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-next-button,
.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-prev-button {
  height: 35px;
  width: 35px;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-prev-button.fc-button.fc-button-primary {
  margin-right: 15px;
  position: relative;
  border-radius: 10px 0 0 10px;
  width: 35px;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-prev-button.fc-button.fc-button-primary span {
  position: absolute;
  top: 3px;
  left: 4px;
  color: white;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-next-button.fc-button.fc-button-primary {
  position: relative;
  border-radius: 0 10px 10px 0;
  width: 35px;
}

.guideJoin #section03 .section03Area .section03Content #calendarBig .fc-next-button.fc-button.fc-button-primary span {
  position: absolute;
  top: 3px;
  left: 4px;
  color: white;
}

.guideJoin #section03 .submitBtn {
  font-size: 20px;
  background-color: #1697d5;
  padding: 8px 20px;
  border: 1px white solid;
  color: white;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 83%;
  left: 80%;
  border-radius: 10px;
  font-weight: 600;
}

.guideJoin #finishSection {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #74747480;
  z-index: 3;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guideJoin #finishSection .finishWindows {
  width: 350px;
  height: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px #8a8a8ae0;
          box-shadow: 2px 2px 5px #8a8a8ae0;
  z-index: 2;
  position: fixed;
  border-radius: 15px;
  padding: 10px;
}

.guideJoin #finishSection .finishWindows .finishContent {
  width: 330px;
  height: 430px;
  background-color: #f5f5f5;
  border-radius: 15px;
  text-align: center;
  padding-top: 35px;
}

.guideJoin #finishSection .finishWindows .finishContent .gp1 {
  font-size: 22px;
  font-weight: 600;
}

.guideJoin #finishSection .finishWindows .finishContent .gp2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.guideJoin #finishSection .finishWindows .finishContent img {
  width: 150px;
  display: block;
  margin: -15px auto;
}

.guideJoin #finishSection .finishWindows .finishContent .gp3 {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0 30px;
  font-size: 16px;
}

.guideJoin #finishSection .finishWindows .finishContent button {
  font-size: 22px;
  font-weight: 900;
  background: none;
  border: none;
  color: #1697d5;
}
/*# sourceMappingURL=joinGuide.css.map */