// ----- 匯入設定樣式檔 -----
@import "../../../styles/var";
// ------------------------

@import './guide_var';

.guideContainer {
    width: 900px;
    padding: 0;
    margin: 120px auto 0;
    .imgarea {
        height: 300px;
        width: 100%;
        padding: 0;
    }

    .searchArea {
        position: relative;
        display: flex;
        margin-top: 20px;

        .searchInput {
            margin-right: 20px;
        }
        .mainbtn {
            margin-left: 20px;
            font-size: 15px;
            border-radius: 20px;
            background-color: $primarycolor;
            padding: 4px 15px;
            border: 2px $primarycolor solid;
            color: #ffffff;
            box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
        }
        .joinGuide {
            right: 0;
            z-index: 1000;
            position: absolute;
            bottom: 10px;
        }
    }

    .advancedSearch {
        position: relative;
        .advancedSearchBtn {
            font-size: 15px;
            border: 2px $primarycolor solid;
            border-radius: 20px;
            color: $primarycolor;
            padding: 4px 15px;
            
        }
        .advancedSearchContent {
            position: absolute;
            background-color: #ffffff;
            width: 300px;
            border-radius: 10px;
            top: 40px;
            z-index: 1000;
            box-shadow: 3px 3px 5px rgb(197, 197, 197);
            padding: 13px;
            .acceptNum {
                height: 35px;
                #quantity {
                    width: 30px;
                    border: none;
                    text-align: center;
                }
                .numBtn {
                    font-size: 15px;
                    border-radius: 10px;
                    padding: 2px 5px;
                    border: 1px $primarycolor solid;
                    width: 25px;
                    text-align: center;
                }
            }
            .transportation {
                margin-bottom: -20px;
                border-bottom: 1px $fontcolor solid;
            }
            .btnArea{
                margin-top: 30px;
                float: right;
                .cancelBtn{
                    font-size: 13px;
                    border: none;
                    color: $primarycolor;
                    background-color: white;
                    margin-right: 15px;
                }
                .guideAdvancedSearchBtn{
                    margin-right: 20px;
                    font-size: 13px;
                    border-radius: 20px;
                    background-color: $primarycolor;
                    padding: 4px 10px;
                    border: 2px $primarycolor solid;
                    color: #ffffff;
                    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .1);
                }
            }
        }
    }

    .guideSearchResults {
        width: 60%;

        .guideResults {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 20px;
            width: 800px;
            height: 130px;
            a {
                display: inline-flex;
                text-decoration: none;
                .putMemberImg {
                    padding: 0;
                    margin-top: -5px;
                    #memberImg {
                        height: 120px;
                        width: 120px;
                        border-radius: 50%;
                        box-shadow: 3px 3px 5px rgba(77, 77, 77, 0.856);
                    }
                }
                .guideContent {
                    color: $fontcolor;
                    padding: 0 0 0 100px;
                    box-shadow: 3px 3px 7px rgba(77, 77, 77, 0.541);
                    height: 110px;
                    margin-left: -80px;
                    z-index: -1;
                    width: 600px;
                    .guideInformationArea {
                        padding-top: 8px;
                        .guideName {
                            font-size: 24px;
                            font-weight: bold;
                        }
                        .star {
                            font-size: 14px;
                            color: #ffb11b;
                            margin-left: 20px;
                            text-shadow: 2px 2px 3px rgba(59, 59, 59, 0.63);
                        }
                        .guideStarNum {
                            font-size: 14px;
                        }
                        .guideTitle {
                            color: rebeccapurple;
                            font-size: 14px;
                            margin-left: 8px;
                        }
                    }
                    .guideRecommend {
                        margin-top: 7px;
                        font-size: 14px;
                        i {
                            color: $primarycolor;
                        }
                    }
                    .guideIntroduction {
                        margin-top: 5px;
                        font-size: 14px;
                        .guideIntroduction30 {
                            width: 450px;
                            height: 20px;
                            overflow: hidden;
                        }
                        .spot {
                            left: 400px;
                            height: -100px;
                        }
                    }
                }
            }
            .chatIcon {
                position: absolute;
                right: 175px;
                top: 15px;
                font-size: 20px;
            }
            .guideLocation {
                .locationIcon {
                    position: absolute;
                    right: 208px;
                    top: 88px;
                    font-size: 15px;
                    color: #e83015;
                }
                .locationContent {
                    position: absolute;
                    right: 175px;
                    top: 90px;
                    font-size: 15px;
                    color: #e83015;
                }
            }
        }
    }
}
