* {
  margin: 0;
  padding: 0;
  font-family: Microsoft JhengHei, sans-serif;
  letter-spacing: 0.02em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  width: 100vw;
  min-height: 100vh;
}

.guideContainer {
  width: 900px;
  padding: 0;
  margin: 120px auto 0;
}

.guideContainer .imgarea {
  height: 300px;
  width: 100%;
  padding: 0;
}

.guideContainer .searchArea {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.guideContainer .searchArea .searchInput {
  margin-right: 20px;
}

.guideContainer .searchArea .mainbtn {
  margin-left: 20px;
  font-size: 15px;
  border-radius: 20px;
  background-color: #1697d5;
  padding: 4px 15px;
  border: 2px #1697d5 solid;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}

.guideContainer .searchArea .joinGuide {
  right: 0;
  z-index: 1000;
  position: absolute;
  bottom: 10px;
}

.guideContainer .advancedSearch {
  position: relative;
}

.guideContainer .advancedSearch .advancedSearchBtn {
  font-size: 15px;
  border: 2px #1697d5 solid;
  border-radius: 20px;
  color: #1697d5;
  padding: 4px 15px;
}

.guideContainer .advancedSearch .advancedSearchContent {
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  border-radius: 10px;
  top: 40px;
  z-index: 1000;
  -webkit-box-shadow: 3px 3px 5px #c5c5c5;
          box-shadow: 3px 3px 5px #c5c5c5;
  padding: 13px;
}

.guideContainer .advancedSearch .advancedSearchContent .acceptNum {
  height: 35px;
}

.guideContainer .advancedSearch .advancedSearchContent .acceptNum #quantity {
  width: 30px;
  border: none;
  text-align: center;
}

.guideContainer .advancedSearch .advancedSearchContent .acceptNum .numBtn {
  font-size: 15px;
  border-radius: 10px;
  padding: 2px 5px;
  border: 1px #1697d5 solid;
  width: 25px;
  text-align: center;
}

.guideContainer .advancedSearch .advancedSearchContent .transportation {
  margin-bottom: -20px;
  border-bottom: 1px #264148 solid;
}

.guideContainer .advancedSearch .advancedSearchContent .btnArea {
  margin-top: 30px;
  float: right;
}

.guideContainer .advancedSearch .advancedSearchContent .btnArea .cancelBtn {
  font-size: 13px;
  border: none;
  color: #1697d5;
  background-color: white;
  margin-right: 15px;
}

.guideContainer .advancedSearch .advancedSearchContent .btnArea .guideAdvancedSearchBtn {
  margin-right: 20px;
  font-size: 13px;
  border-radius: 20px;
  background-color: #1697d5;
  padding: 4px 10px;
  border: 2px #1697d5 solid;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}

.guideContainer .guideSearchResults {
  width: 60%;
}

.guideContainer .guideSearchResults .guideResults {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 800px;
  height: 130px;
}

.guideContainer .guideSearchResults .guideResults a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}

.guideContainer .guideSearchResults .guideResults a .putMemberImg {
  padding: 0;
  margin-top: -5px;
}

.guideContainer .guideSearchResults .guideResults a .putMemberImg #memberImg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 5px rgba(77, 77, 77, 0.856);
          box-shadow: 3px 3px 5px rgba(77, 77, 77, 0.856);
}

.guideContainer .guideSearchResults .guideResults a .guideContent {
  color: #264148;
  padding: 0 0 0 100px;
  -webkit-box-shadow: 3px 3px 7px rgba(77, 77, 77, 0.541);
          box-shadow: 3px 3px 7px rgba(77, 77, 77, 0.541);
  height: 110px;
  margin-left: -80px;
  z-index: -1;
  width: 600px;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideInformationArea {
  padding-top: 8px;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideInformationArea .guideName {
  font-size: 24px;
  font-weight: bold;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideInformationArea .star {
  font-size: 14px;
  color: #ffb11b;
  margin-left: 20px;
  text-shadow: 2px 2px 3px rgba(59, 59, 59, 0.63);
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideInformationArea .guideStarNum {
  font-size: 14px;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideInformationArea .guideTitle {
  color: rebeccapurple;
  font-size: 14px;
  margin-left: 8px;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideRecommend {
  margin-top: 7px;
  font-size: 14px;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideRecommend i {
  color: #1697d5;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideIntroduction {
  margin-top: 5px;
  font-size: 14px;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideIntroduction .guideIntroduction30 {
  width: 450px;
  height: 20px;
  overflow: hidden;
}

.guideContainer .guideSearchResults .guideResults a .guideContent .guideIntroduction .spot {
  left: 400px;
  height: -100px;
}

.guideContainer .guideSearchResults .guideResults .chatIcon {
  position: absolute;
  right: 175px;
  top: 15px;
  font-size: 20px;
}

.guideContainer .guideSearchResults .guideResults .guideLocation .locationIcon {
  position: absolute;
  right: 208px;
  top: 88px;
  font-size: 15px;
  color: #e83015;
}

.guideContainer .guideSearchResults .guideResults .guideLocation .locationContent {
  position: absolute;
  right: 175px;
  top: 90px;
  font-size: 15px;
  color: #e83015;
}
/*# sourceMappingURL=tour_guide.css.map */