// ----- 匯入設定樣式檔 -----
@import "../../../styles/var";
// ------------------------

.guidePersonalPage {
    padding-bottom: 50px;
    .bgImg {
        position: fixed;
        z-index: -1000;
        height: 100vh;
        width: 100%;
    }

    .guidePersonalContent {
        width: 1000px;
        margin: auto;
        position: relative;
        margin-top: 130px;
        .joinBtn {
            position: absolute;
            right: -50px;
            top: -15px;
            z-index: 100;
            font-size: 16px;
            a {
                margin-left: 20px;
                font-weight: 600;
            }
        }
        .guideHeader {
            width: 1000px;
            position: relative;
            display: flex;
            padding-top: 50px;
            justify-content: center;
            color: $fontcolor;
            .memberImgArea {
                width: 150px;
                height: 150px;
                .memberImg {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    box-shadow: 3px 3px 5px rgba(77, 77, 77, 0.856);
                }
            }
            .memberInformation {
                margin-left: 100px;
                width: 470px;
                position: relative;
                .memberName {
                    padding-bottom: 10px;
                    font-size: 25px;
                    font-weight: 600;
                }
                .guideLevel {
                    padding-bottom: 10px;
                    position: relative;
                    .star {
                        font-size: 16px;
                        color: #ffb11b;
                        text-shadow: 2px 2px 3px rgba(59, 59, 59, 0.63);
                        bottom: 12px;
                        position: absolute;
                    }
                    .guideStarNum {
                        font-size: 16px;
                        margin-left: 20px;
                    }
                    .guideTitle {
                        color: rebeccapurple;
                        font-size: 16px;
                        margin-left: 20px;
                    }
                }
                .memberIntroduction {
                    font-size: 16px;
                    width: 400px;
                }
                .Icon {
                    position: absolute;
                    font-size: 20px;
                    right: 0;
                    top: 5px;
                    letter-spacing: 15px;
                }
                .guideLocation {
                    .locationIcon {
                        position: absolute;
                        right: 35px;
                        bottom: 1px;
                        font-size: 15px;
                        color: #e83015;
                    }
                    .locationContent {
                        position: absolute;
                        right: 0;
                        bottom: -1px;
                        font-size: 15px;
                        color: #e83015;
                    }
                }
            }
        }
        .aboutArea {
            //font-size: 16px;
            padding-top: 50px;
            width: 900px;
            margin: auto;
            display: flex;
            position: relative;
            .aboutMe {
                .Title {
                    font-size: 20px;
                    color: $fontcolor;
                    font-weight: 600;
                }
                .aboutMeContent {
                    border-bottom: 2px rgb(190, 190, 190) solid;
                    padding: 7px 10px;
                    width: 400px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 16px;
                    color: $fontcolor;
                    font-weight: 500;
                    font-size: 16px;
                    .title {
                        font-weight: 800;
                        font-size: 16px;
                    }
                }
            }
            .reservation {
                position: absolute;
                right: -50px;
                width: 470px;
                height: 300px;
                .Title {
                    font-size: 20px;
                    color: $fontcolor;
                    font-weight: 600;
                }
                .reservationCalendar {
                    display: flex;
                    .calendarArea {
                        margin-top: 15px;
                        height: 330px;
                        border-radius: 10px;
                        box-shadow: 2px 2px 5px #dfdfdf;
                        padding: 10px;
                        background-color: #ffffff9c;
                        div > div.fc-view-harness.fc-view-harness-active > div > table {
                            border: none;
                            td {
                                border: none;
                            }
                            thead > tr > th {
                                border: none;
                                th {
                                    border: none;
                                }
                                td {
                                    border: none;
                                }
                            }
                        }
                        .fc-daygrid-day-bg > div > div {
                            border-radius: 50%;
                        }
                        #fc-dom-2 {
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
                            margin-bottom: 15px;
                            div:nth-child(1) > button {
                                font-size: 15px;
                                height: 30px;
                                padding: 3px 8px;
                                border: none;
                                font-weight: 600;
                                background-color: #6bc1e9;
                                background-image: linear-gradient(315deg, #6bc1e9 0%, #80ced7 74%);
                                &:hover {
                                    box-shadow: 2px 2px 3px #85858593;
                                }
                            }
                        }
                        .fc-daygrid-day-events {
                            display: none;
                        }
                        .fc-daygrid-day-top {
                            margin-top: 3px;
                            .fc-daygrid-day-number {
                                color: $fontcolor;
                                font-size: 15px;
                                font-weight: 500;
                                margin: 4px auto;
                            }
                        }
                        .fc-col-header-cell-cushion {
                            color: $fontcolor;
                            cursor: default;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                        .fc-next-button, 
                        .fc-prev-button {
                            height: 30px;
                            width: 30px;
                        }
                        .fc-prev-button.fc-button.fc-button-primary {
                            margin-right: 10px;
                            position: relative;
                            span {
                                position: absolute;
                                top: 5px;
                                left: 1px;
                            }
                        }
                        .fc-next-button.fc-button.fc-button-primary {
                            position: relative;
                            span {
                                position: absolute;
                                top: 5px;
                                left: 4px;
                            }
                        }
                        .fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
                            border-radius: 30px;
                        }
                        .fc-daygrid-day-bg > div > div {
                            margin: 5% 7%;
                        }
                    }
                    .reservationArea {
                        margin-top: 15px;
                        width: 110px;
                        height: 80px;
                        border-radius: 10px;
                        box-shadow: 2px 2px 2px #dadada9c;
                        padding: 5px;
                        margin: 15px 0 0 5px;
                        background-color: #ffffffaf;
                        .reservationDate {
                            padding-bottom: 5px;
                            font-size: 15px;
                            font-weight: 600;
                            text-align: center;
                            border: none;
                            width: 100px;
                            background: none;
                            border-radius: 10px 10px 0 0;
                            border-bottom: 2px $fontcolor solid;
                        }
                        .reservationBtn {
                            margin: 10px 30px;
                            box-shadow: 1px 1px 1px #85858593;
                            color: $fontcolor;
                            font-weight: 600;
                            padding: 0 4px;
                            border-radius: 5px;
                            border: 1px $fontcolor solid;
                            background-color: white;
                            &:hover {
                                box-shadow: 2px 2px 3px #85858593;
                            }
                        }
                    }
                }
            }
        }

        .imgArea {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 500px;
            font-family: "Roboto", sans-serif;
            transition: 0.25s;
            width: 1000px;

            .credit {
                position: absolute;
                bottom: 20px;
                left: 20px;
                color: inherit;
            }
            .options {
                position: absolute;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                overflow: hidden;
                width: 920px;
                height: 400px;
                margin: auto;
                .option {
                    position: relative;
                    overflow: hidden;
                    min-width: 90px;
                    margin: 10px;
                    background-size: auto 120%;
                    background-position: center;
                    cursor: pointer;
                    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                    background-repeat: no-repeat;
                    background-color: rgb(202, 202, 202);
                    &.active {
                        flex-grow: 10000;
                        transform: scale(1);
                        max-width: 600px;
                        margin: 0 10px;
                        border-radius: 30px;
                        background-size: auto 100%;
                        .shadow {
                            box-shadow: inset 0px -80px 100px rgba(87, 87, 87, 0.575) !important;
                            height: 70px;
                        }
                        .label {
                            bottom: 15px;
                            left: 30px;
                            .info > div {
                                left: 0px;
                                opacity: 1;
                            }
                        }
                    }

                    &:not(.active) {
                        flex-grow: 1;
                        border-radius: 30px;
                        .shadow {
                            bottom: -40px;
                            box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
                        }
                        .label {
                            bottom: 10px;
                            left: 10px;
                            .info > div {
                                left: 20px;
                                opacity: 0;
                            }
                        }
                    }
                    .shadow {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        height: 120px;
                        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                    }
                    .label {
                        display: flex;
                        position: absolute;
                        right: 0px;

                        height: 40px;
                        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                        .info {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: 10px;
                            color: white;
                            white-space: pre;
                            > div {
                                position: relative;
                                transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
                            }
                            .main {
                                font-weight: bold;
                                font-size: 1.2rem;
                            }
                            .sub {
                                transition-delay: 0.1s;
                            }
                        }
                    }
                }
            }
        }

        .evaluationArea {
            width: 900px;
            margin: auto;
            border: 3px rgba(175, 175, 175, 0.315) solid;
            border-radius: 30px;
            padding: 20px 20px 10px 20px;
            height: auto;
            .Title {
                margin-left: 18px;
                font-size: 20px;
                color: $fontcolor;
                font-weight: 600;
            }
            .evaluations {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 20px;
                .evaluation {
                    width: 400px;
                    margin-bottom: 20px;
                    display: flex;
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 15px;
                    padding: 13px 15px;
                    height: auto;
                    box-shadow: 1px 1px 5px #e4e3e35d;
                    .evaluationImg {
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            box-shadow: 2px 2px 3px rgb(207, 207, 207);
                        }
                    }
                    .evaluationBody {
                        position: relative;
                        width: 410px;
                        height: auto;
                        .evaluationName {
                            font-size: 16px;
                            display: inline-flex;
                            padding-left: 15px;
                            font-weight: 600;
                        }
                        .evaluationstar {
                            display: inline-flex;
                            font-size: 14px;
                            position: absolute;
                            margin-left: 15px;
                            .star {
                                color: #ffb11b;
                                text-shadow: 2px 2px 3px rgba(59, 59, 59, 0.63);
                            }
                            .starNum {
                                left: 50px;
                                margin-left: 5px;
                                margin-top: 2px;
                            }
                        }
                        .evaluationDate {
                            display: inline;
                            position: absolute;
                            right: 7px;
                            font-size: 10px;
                            padding-top: 5px;
                        }
                        .evaluationContent {
                            padding: 3px 0 0 15px;
                            display: flex;
                            align-items: top;
                        }
                    }
                }
            }
            .evaluationMore{
                text-align: center;
                width: 100%;
                display: block;
                font-weight: 600;
            }
        }
    }
}
